:javascript
  dojo.require("dijit.dijit");
  dojo.require("dijit.form.Button");
  dojo.require("dojox.grid.EnhancedGrid");
  dojo.require("dojox.grid.enhanced.plugins.NestedSorting");
  dojo.require("dojox.grid.enhanced.plugins.Filter");
  dojo.require("dijit.layout.TabContainer");
  dojo.require("dojox.grid.enhanced.plugins.IndirectSelection");
  dojo.require("dojo.data.ItemFileWriteStore");
  dojo.require("dojox.grid.enhanced.plugins.exporter.CSVWriter");
  
  //GLOBALS
  var units = #{@unit_names.to_json}
     
  var variable_json = {
    identifier: 'id',
    items: #{@variables.to_json} };
  var var_store = new dojo.data.ItemFileWriteStore({data: variable_json });
  //var site_json = {
  //  identifier: 'id',
  //  items: #{@sites.to_json} };
  //var site_store = new dojo.data.ItemFileWriteStore({data: site_json }); 
  var api_key = "#{@voeis_api_key.to_s}";

  $(window).ready(function(){ 
    //##### 
    console.log('SEARCH READY-load-done-NOW');
    //BuildQuery();
  });


-#%h3{:style=>"margin:5px 0;"}
%h3{:style=>"margin:8px 0 10px 0;"}
  Data Search &mdash; Mulitple Sites &amp; Variables


-### TABS
%div{:dojoType=>"dijit.layout.TabContainer", :style=>"width:90%;height:350px;margin-top:10px;padding-top:0;", 
  :prop=>"parseOnLoad:true;", :tabPosition=>"top", :id=>"search_tabs", :jsId=>"search_tabs"}

  #search-sites{:dojoType=>"dijit.layout.ContentPane", :title=>"Select Sites", 
    :style=>"margin:0;padding:10px 0 0 8px;", :selected=>"true", :jsId=>"search_sites"}
    %script{:type=>"dojo/method", :event=>"onShow"}
      :plain
        //###
        updateSearch()

    #siteGrid{:style=>"width:92%;height:300px;float:left;"}
    
    %button(dojoType="dijit.form.Button" onclick="search_tabs.selectChild(search_vars);" style="margin:30px 10px;float:left;")
      NEXT &raquo;

  #search-vars{:dojoType=>"dijit.layout.ContentPane", :title=>"Select Variables", 
    :style=>"margin:0;padding:10px 0 0 8px;", :jsId=>"search_vars"}
    %script{:type=>"dojo/method", :event=>"onShow"}
      :plain
        //###
        updateVariables();
        updateSearch()

    #varGrid{:style=>"width:92%;height:300px;float:left;"}
    
    %button(dojoType="dijit.form.Button" onclick="search_tabs.selectChild(search_dates);" style="margin:30px 10px;float:left;")
      NEXT &raquo;

  #search-dates{:dojoType=>"dijit.layout.ContentPane", :title=>"Select Date Range & Search", 
    :style=>"margin:0;padding:10px 0 0 28px;", :jsId=>"search_dates"}
    %script{:type=>"dojo/method", :event=>"onShow"}
      :plain
        //###
        updateSearch()

    =clear_break
    
    %p
      %strong
        Query URL
    #query_string
      http:
    
    =clear_break
    %p
      %strong
        Data available for:
      -if @start_date.nil? && @end_date.nil?
        &mdash;
      -else
        = @start_date.starting_timestamp.strftime("%m/%d/%Y")
        &ndash;
        = @end_date.ending_timestamp.strftime("%m/%d/%Y")
    =clear_break

    %div{:style=>"float:left;"}
      %label{:for=>"date1"}
        Start Date Selection:
      %input{:type=>"text", :name=>"start_date", :id=>"start_date", 
        :value=>"#{@end_date.nil? ? Time.now.strftime("%Y-%m-%d") : @end_date.ending_timestamp.nil? ? Time.now.strftime("%Y-%m-%d") : (@end_date.ending_timestamp-1.day).strftime("%Y-%m-%d")}",
        :dojoType=>"dijit.form.DateTextBox", :required=>"true", :onChange=>"updateSearch()"}
        -#%script{:type=>"dojo/method", :event=>"startup"}
        -#  this.connect(this, "onClick", function(){ BuildQuery() };

    %div{:style=>"float:left;margin-left:50px;"}
      %label{:for=>"date1"}
        End Date Selection:
      %input{:type=>"text", :name=>"end_date", :id=>"end_date", :value=>"#{@end_date.nil? ? Time.now.strftime("%Y-%m-%d") : @end_date.ending_timestamp.nil? ? Time.now.strftime("%Y-%m-%d")  : @end_date.ending_timestamp.strftime("%Y-%m-%d")}",
        :dojoType=>"dijit.form.DateTextBox", :required=>"true", :onChange=>"updateSearch()"}
        -#%script{:type=>"dojo/method", :event=>"startup"}
        -#  this.connect(this, "onClick", function(){ BuildQuery() };

    =clear_break
    
    %p(style="margin:15px 0 0 0;padding:20px 0;")
      %strong
        Searching Sites:
      %span(id="search-sites-value")
        0
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      %strong
        Searching Variables:
      %span(id="search-vars-value")
        0
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      %strong
        Search Result Size:
      %span(id="result-size-value")
        0
      &nbsp;&nbsp;
      %span(id="result-size-wait" style="")
        %img(src="/images/loading-ani.gif" alt="WAITING..." height="16" style="margin:0;padding:0;height:16px;vertical-align:middle;")
        %img(src="/images/blank.gif" alt="blank" height="16" width="1" style="margin:0;padding:0;height:16px;vertical-align:middle;")
    
    -#%div(jsId="result_size_wait" dojoType="dojox.widget.Standby" target="result-size-value" image="/images/smal_load.gif")
    -# smal_load.gif
    -# ajax-loader.gif
    
    =clear_break
    -#%p{:id=>"formatted"}
    -#=clear_break
    -#%p{:id=>"formatted2"}
    -#=clear_break
    -#%button(dojoType="dijit.form.Button" name="build_query_button" id="build_query_button" onclick="doSearch();") 
    -#  Perform Search
    %button(dojoType="dijit.form.Button" name="build_query_button" id="build_query_button2" 
      disabled onclick="doSearch();" style="margin:10px 0;")
      Display Search Results
    &nbsp;&nbsp;
    %button(dojoType="dijit.form.Button" name="build_query_button_download" id="build_query_button_download" 
      disabled onclick="doSearchDownload();" style="margin:10px 0;")
      Download Search Results Non-CrossTab
    &nbsp;&nbsp;
    %button(dojoType="dijit.form.Button" name="build_query_button_download_crosstab" id="build_query_button_download_crosstab" 
      disabled onclick="doSearchDownloadCrossTab();" style="margin:10px 0;")
      Download Search Results CrossTab

    -#=clear_break
    -#%button(dojoType="dijit.form.Button" name="build_query_button_count" id="build_query_button_count" onclick="doSearchCount();" style="margin:10px 0;width:200px;")
    -#  Return Search Result Size
    -#%button(dojoType="dijit.form.Button" name="build_query_button_download_crosstab" id="build_query_button_download_crosstab" onclick="doSearchDownloadCrossTab();" style="margin:10px 0;width:300px;")
    -#  Download Search Results CrossTab


:javascript

  function updateSearch(){
    $('#result-size-wait').hide()
    var search_sites = siteDataGrid.selection.getSelected().length;
    var search_vars = varDataGrid.selection.getSelected().length;
    var search_sites_old = parseInt($("#search-sites-value").html());
    var search_vars_old = parseInt($("#search-vars-value").html());
    var start_date = dijit.byId('start_date').value.format('yyyy-mm-dd');
    var end_date = dijit.byId('end_date').value.format('yyyy-mm-dd');
    var start_date_old = $("#query_string").html().match(/start_date=(\d\d\d\d-\d\d-\d\d)/);
    if(start_date_old) start_date_old = start_date_old[1];
    var end_date_old = $("#query_string").html().match(/end_date=(\d\d\d\d-\d\d-\d\d)/);
    if(end_date_old) end_date_old = end_date_old[1];
    if(search_sites==search_sites_old && search_vars==search_vars_old && start_date==start_date_old && end_date==end_date_old) return;
    $("#search-sites-value").html(search_sites);
    $("#search-vars-value").html(search_vars);
    console.log('updateSearch-sites:',search_sites);
    console.log('updateSearch-vars:',search_vars);
    if(search_sites==0 || search_vars==0) {
      dijit.byId('build_query_button2').set('disabled',true);
      dijit.byId('build_query_button_download').set('disabled',true);
      dijit.byId('build_query_button_download_crosstab').set('disabled',true);
      $('#result-size-value').html('0');
    } else {
      dijit.byId('build_query_button2').set('disabled',false);
      dijit.byId('build_query_button_download').set('disabled',false);
      dijit.byId('build_query_button_download_crosstab').set('disabled',false);
      doSearchCount();
    };
    BuildQuery();
  }
  
  function updateVariables(){
    var search_sites = siteDataGrid.selection.getSelected().length;
    var search_vars = varDataGrid.selection.getSelected().length;
    if(search_sites==0 && search_vars==0) return;
    var site_var_array = siteDataGrid.selection.getSelected();
    var site_ids = [];
    for (s in site_var_array){
      site_ids.push(site_var_array[s].id.toString())
    }
    base_url="#{root_url}projects/#{parent.id}/apivs/get_project_site_variables.json?";
    site_url = base_url + "api_key=" + api_key + "&site_ids[]="+ site_ids.join('&site_ids[]=');
    $.get(site_url,
      function(data) {
        var variable_json = {
          identifier: 'id',
          items: data};
        new_var_store = new dojo.data.ItemFileWriteStore({data: variable_json }); 
        varDataGrid.setStore(new_var_store)
      }
    );
  }
  
  function BuildQuery(){
    var site_array = siteDataGrid.selection.getSelected();
    var var_array = varDataGrid.selection.getSelected();
    site_ids = [];
    var_ids = [];
    for (s in site_array){
      site_ids.push(site_array[s].id.toString())
    }
    for (v in var_array){
      var_ids.push(var_array[v].id.toString())
    }
    url = "#{root_url}projects/#{parent.id}/search?site_ids=" + site_ids.join(',');
    url += "&var_ids=" + var_ids.join(',');
    url += "&start_date=" +dijit.byId("start_date").value.format('yyyy-mm-dd')
    url += "&end_date="+dijit.byId("end_date").value.format('yyyy-mm-dd')
    $("#query_string").html(url);
  }
  
  function BuildDownloadCrosstabQuery(){
    var site_array = siteDataGrid.selection.getSelected();
    var var_array = varDataGrid.selection.getSelected();
    site_ids = [];
    var_ids = [];
    for (s in site_array){
      site_ids.push(site_array[s].id.toString())
    }
    for (v in var_array){
      var_ids.push(var_array[v].id.toString())
    }
    url = "#{root_url}projects/#{parent.id}/search.csv?site_ids=" + site_ids.join(',');
    url += "&var_ids=" + var_ids.join(',');
    url += "&start_date=" +dijit.byId("start_date").value.format('yyyy-mm-dd')
    url += "&end_date="+dijit.byId("end_date").value.format('yyyy-mm-dd')
    $("#query_string").html(url);
  }
  
  function BuildDownloadQuery(){
    var site_array = siteDataGrid.selection.getSelected();
    var var_array = varDataGrid.selection.getSelected();
    site_ids = [];
    var_ids = [];
    for (s in site_array){
      site_ids.push(site_array[s].id.toString())
    }
    for (v in var_array){
      var_ids.push(var_array[v].id.toString())
    }
    url = "#{root_url}projects/#{parent.id}/search/download_deq.csv?site_ids=" + site_ids.join(',');
    url += "&var_ids=" + var_ids.join(',');
    url += "&start_date=" +dijit.byId("start_date").value.format('yyyy-mm-dd')
    url += "&end_date="+dijit.byId("end_date").value.format('yyyy-mm-dd')
    $("#query_string").html(url);
  }
  
  function BuildCountQuery(){
    var site_array = siteDataGrid.selection.getSelected();
    var var_array = varDataGrid.selection.getSelected();
    site_ids = [];
    var_ids = [];
    for (s in site_array){
      site_ids.push(site_array[s].id.toString())
    }
    for (v in var_array){
      var_ids.push(var_array[v].id.toString())
    }
    url = "#{root_url}projects/#{parent.id}/search/quick_count.json?site_ids=" + site_ids.join(',');
    url += "&var_ids=" + var_ids.join(',');
    url += "&start_date=" +dijit.byId("start_date").value.format('yyyy-mm-dd')
    url += "&end_date="+dijit.byId("end_date").value.format('yyyy-mm-dd')
    //$("#query_string").html(url);
    console.log('buildCountQuery:',url);
    return url;
  }
  
  function doSearch(){
    
    //BuildCountQuery()
    var count = $('#result-size-value').html();
    //window.location=$("#query_string").html();
    confirmDialog(
      'RUN SEARCH?',
      "Are you sure you want to get "+count+" records?",
      function(yes) {
        if(yes) {
          BuildQuery();
          window.open($("#query_string").html(), "Search Results "+projectSearchCount.toString(),'',false);
          projectSearchCount = projectSearchCount +1;
        }},
      {buttonOk:'YES'});
    
    //$.get($("#query_string").html(), function(data){
        //if (confirm("Are you sure you want to get " + data['count'] + " records?")){
        //  BuildQuery();
        //  window.open($("#query_string").html(), "Search Results "+projectSearchCount.toString(),'',false);
        //  projectSearchCount = projectSearchCount +1;
        //}
        
    //});
    
    //dojo.publish('voeis/project/search/results', [$("#query_string").html()])
  }
  
  function doSearch2(){
    BuildQuery();
    //window.location=$("#query_string").html();
    //window.open($("#query_string").html(), "Search Results",'','false');
    dojo.publish('voeis/project/search/results', [$("#query_string").html()])
  }
  
  function doSearchDownload(){
    
    //BuildCountQuery()
    var count = $('#result-size-value').html();
    confirmDialog(
      'DOWNLOAD SEARCH?',
      "Are you sure you want to get "+count+" records?",
      function(yes) {
        if(yes) {
          BuildDownloadQuery();
          window.location = $("#query_string").html();
        }},
      {buttonOk:'YES'});
    
    //$.get($("#query_string").html(), function(data){
      //if (confirm("Are you sure you want to get " + data['count'] + " records?")){
      //  BuildDownloadQuery();
      //  window.location = $("#query_string").html();
      //}
      
    //});
  }
  
  function doSearchDownloadCrossTab(){
    
    //BuildCountQuery()
    var count = $('#result-size-value').html();
    confirmDialog(
      'DOWNLOAD SEARCH?',
      "Are you sure you want to get "+count+" records?",
      function(yes) {
        if(yes) {
          BuildDownloadCrosstabQuery();
          window.location = $("#query_string").html();
        }},
      {buttonOk:'YES'});
    
    //$.get($("#query_string").html(), function(data){
      //if (confirm("Are you sure you want to get " + data['count'] + " records?")){
      //  BuildDownloadCrosstabQuery();
      //    window.location = $("#query_string").html();
      //}
      
    //});
  }
  
  function doSearchCount(){
    var search_disabled = dijit.byId('build_query_button2').get('disabled');
    if(!search_disabled) {
      dijit.byId('build_query_button2').set('disabled',true);
      dijit.byId('build_query_button_download').set('disabled',true);
      dijit.byId('build_query_button_download_crosstab').set('disabled',true);
    };
    var countUrl = BuildCountQuery();
    $('#result-size-wait').show();
    //$.get($("#query_string").html(), function(data){
    $.get(countUrl, function(data){
      //alert("This search yields: " + data['count'] + " records");
      //error_dialog.pop("<br/>This search yields: "+data["count"]+" records.<br/><br/>",0,'SEARCH RESULT SIZE');
      $('#result-size-wait').hide();
      $('#result-size-value').html(data['count']);
      if(!search_disabled) {
        dijit.byId('build_query_button2').set('disabled',false);
        dijit.byId('build_query_button_download').set('disabled',false);
        dijit.byId('build_query_button_download_crosstab').set('disabled',false);
      };
    });
  }
  
  //formatter: 'val_grid_formatter.dateTime',
  // grid formatters
  var val_grid_formatter = {};
  val_grid_formatter.dateTime = function(value) {
    if(value==null || value=='') return '-';
    // Format DateTime string
    var d = new Date(value);
    //var fmt = d.getMonth()+'/'+d.getFullYear()
    return dojo.date.locale.format(d,{datePattern:"yyyy-MM-dd", timePattern:"HH:mm:ss z"});
  };
  val_grid_formatter.selectItem = function(item) {
    //var checked_img = '<img src="/images/notice.png" alt="SELCT" />';
    //var selected_img = '<img src="/images/1abu007.gif" alt="SELCT" />';
    var blank_img = '<img src="/images/blank.gif" width="16" height="16" />';
  
    //if(siteDataGrid.value_selected(item)) 
    //  return selected_img;
    return blank_img;
  };
  
  val_grid_formatter.unit_name = function(value){
    return units[value]
  }
  var site_layout = [
  //{
  //   field: '_item',
  //   name: '-',
  //   formatter: val_grid_formatter.selectItem,
  //   width: '24px'
  //},
  {
     field: 'id',
     name: 'ID',
     width: '40px'
  },
  {
     field: 'name',
     name: 'Name',
     width: 'auto'
  },
  {
     field: 'code',
     name: 'Code',
     width: 'auto'
  },
  {
     field: 'data_vars',
     name: 'Vars',
     width: '55px'
  },
  {
     field: 'data_count',
     name: 'Data',
     width: '65px'
  }
  ];
  var var_layout = [
  //{
  //   field: '_item',
  //   name: '-',
  //   formatter: val_grid_formatter.selectItem,
  //   width: '24px'
  //},
  {
     field: 'id',
     name: 'ID',
     width: '40px'
  },
  {
     field: 'variable_name',
     name: 'Name',
     width: 'auto'
  },
  {
     field: 'variable_units_id',
     name: 'Units',
     formatter: val_grid_formatter.unit_name,
     width: 'auto'
  },
  {
     field: 'general_category',
     name: 'Category',
     width: 'auto'
  },
  {
     field: 'sample_medium',
     name: 'Medium',
     width: 'auto'
  },
  {
     field: 'value_type',
     name: 'Value Type',
     width: 'auto'
  },
  {
     field: 'data_type',
     name: 'Data Type',
     width: 'auto'
  },
  ];
  
  
  // create a new site grid:
  siteDataGrid = new dojox.grid.EnhancedGrid({
     store: psites,
     clientSort: true,
     rowSelector: '0',
     structure: site_layout,
     style: 'width:99%;',
     plugins: {filter:true, exporter:true,indirectSelection:{headerSelector:true, width:"40px", styles:"text-align: center;"},
      },
      onClick: function(ev) {
        this.grid_click = ev;
      },
     },
     document.createElement('div'));

  // append the new grid to the div " ":
  $('#siteGrid').append(siteDataGrid.domNode);
  siteDataGrid.startup();
  
  //create a new variable grid
  varDataGrid = new dojox.grid.EnhancedGrid({
     store: var_store,
     grid_click: true,
     clientSort: true,
     rowSelector: '0',
     structure: var_layout,
     style: 'width:99%;',
     plugins: {filter:true, exporter:true,indirectSelection:{headerSelector:true, width:"40px", styles:"text-align: center;"},
      },
      onClick: function(ev) {
        this.grid_click = ev;
      },
     },
     document.createElement('div'));

  // append the new grid to the div " ":
  $('#varGrid').append(varDataGrid.domNode);
  varDataGrid.startup();
  //BuildQuery();

