:css
  #content { margin:10px 50px }
  #wrapper {
    padding-bottom: 20px;
    background-color: #ccb;
    padding-top: 1px;
  }
  #wrapper img { margin-right:12px }
  #wrapper p { margin:0 20px }

  #site00-sample-table td { text-align:center; }
  #site00-sample-table td.time0 { text-align:left; }

  #form-table { width:600px; }
  #form-table td { width:50%; }
  .form_element { width:20em; }
  
  .dijitTextBox { width:24em !important; }
  .TextBox_qcval { width:5em !important; }
  .TextBox_time { width:10em !important; }
  .TextBox_half { width:10em !important; }
  .TextBox_value { width:18em !important; }
  
  .new_voeis_site input { width:18em; }
  .new_voeis_site textarea { width:45em; }
  .new_voeis_site select { width:21em; }

  .row-lt1 { background-color:#ddd; }
  .row-gr { background-color: #6AA128; }
  .row-gr { background-color: #97C253; }
  .row-gr { background-color: #97D8AB; }
  .row-gr th { background-color: #97D8AB!important; }
  .row-gr td { background-color: #97D8AB!important; }
  .smfont, .smfont * { font-size:10px }


= javascript_include_tag("jquery.flot.js")
- content_for(:javascripts) do
  :javascript
    dojo.require("dijit.dijit");
    dojo.require("dijit.Declaration");
    dojo.require("dojox.layout.TableContainer");
    dojo.require("dijit.form.TextBox");
    
    //GLOBALS
    var variable = #{@variable.to_json};
    var var_id = parseInt(variable.id);
    var site_id = parseInt(#{@site.nil? ? 0 : @site.id});
    var this_pane_id, this_pane;
    
    $(window).ready(function(){ 
      //##### 
      console.log('READY-load-done-NOW');
      initPage();
    });
    

    
-# content_for(:toolbar) do
  -##projectButton{:dojoType => "dijit.form.DropDownButton", :iconClass => "project-icon-25"}
  -#  %span 
  -#    = @project.name
  -#  %div{:dojoType => "dijit.Menu"}                    
  -#    -#-if !current_user.nil? && current_user.projects.include?(@project)
  -#    -#  = link_to("Add Site", new_project_site_path(@project), :dojoType => "yogo.ui.MenuLink")
  -#    - if @sites.count > 0
  -#      -#= link_to("Add Variable", new_project_variable_path(@project), :dojoType => "yogo.ui.MenuLink")
  -#      -#= link_to("Add Unit", new_project_unit_path(@project), :dojoType => "yogo.ui.MenuLink")
  -#      = link_to("Add Sample", new_project_sample_path(@project), :dojoType => "yogo.ui.MenuLink")
  -#      -#= link_to("Upload Sample Data", @project.id.to_s+"/data_values/pre_process_sample_file_upload", :dojoType => "yogo.ui.MenuLink")
  -#      = link_to("Add Data Stream", new_project_data_stream_path(@project), :params => {:project_id => @project.id}, :dojoType => "yogo.ui.MenuLink")
  -#
  -#    - if @project.managed_repository { Voeis::Sample.all.count } > 0
  -#      = link_to("Add Sample Data", pre_process_project_data_values_path(@project), :dojoType => "yogo.ui.MenuLink")
  -#      = link_to("Add Field Data", new_field_measurement_project_sensor_values_path(@project), :params => {:project_id => @project.id}, :dojoType => "yogo.ui.MenuLink")
  -#    - if @project.managed_repository { Voeis::DataStream.all.count } > 0
  -#      = link_to("Add Data", add_project_data_streams_path(@project), :params => {:project_id => @project.id}, :dojoType => "yogo.ui.MenuLink")
  -#    = link_to("Settings...", edit_project_path(@project), :dojoType => "yogo.ui.MenuLink")
  -##siteButton{:dojoType => "dijit.form.DropDownButton", :iconClass => "project-icon-25"}
  -#  %span Site
  -#  %div{:dojoType => "dijit.Menu"}                    
  -#    -if !current_user.nil? && current_user.projects.include?(@project)
  -#      = link_to("Edit Site", edit_project_site_path(@project,resource.id), :dojoType => "yogo.ui.MenuLink")


- siteId = @site.nil? ? "site0" : "site"+@site.id.to_s
- varId = siteId+'_var'+@variable[:id].to_s

%h3{:style=>"margin-top:0;"}
  - if @var_id>0
    - if @site 
      #{@site.name}: #{@variable.variable_name}
    - else
      #{@variable.variable_name}
  - else
    NEW VARIABLE
    

- if @var_id>0
  %div{:id=>"#{varId}_show", :style=>"width:900px;"}
      
    %strong SHOW VARIABLE DETAILS
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    -if @auth && @site
      = link_to('EDIT', 'javascript:', :class=>'icon icon-edit', :onclick=>"$('##{varId}_show').hide();$('##{varId}_edit').show();")
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      = link_to('HISTORY', 'javascript:', :class=>'icon icon-hist', :onclick=>"dojo.publish('voeis/project/site/history', [$$$id$$$]);")
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    = link_to('DATA', 'javascript:', :class=>'icon icon-proj', :onclick=>"dojo.publish('voeis/project/site/history', [$$$id$$$]);")
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    = link_to('SAMPLES', 'javascript:', :class=>'icon icon-proj', :onclick=>"dojo.publish('voeis/project/site/history', [$$$id$$$]);")
    %br
    %br
    -#placeholder{:style=>"width:300px;height:150px;"}

    -#%strong
    -#  UNITS:
    -#- if !@units.nil?
    -#  #{@units[:units_abbreviation]} (#{@units[:units_type]})
    -#- else
    -#  UNKNOWN
    -#%br
    -#%br
  
    %table{:id => "property-table", :style=>'float:left;margin-right:15px;'}
      -if @site
        %tr{:class=>"row#{cycle('1','0')}"}
          %td{:style=>"text-align:right;width:30%;"}
            %strong
              Site
          %td
            #{'%s [Id:%s]'%[@site.site_name,@site.id]}
      - @variable_properties.each do |prop|
        %tr{:class=>"row#{cycle('1','0')}"}
          %td{:style=>"text-align:right;width:30%;"}
            %strong
              #{prop[:label]}
          %td
            #{@variable_ref[prop[:name].to_sym]}
            -#{@variable[prop.name]}
  
    -if @site
      %div{:id=>"graph-site"+@site.id.to_s+"-var"+@variable.id.to_s, :style=>"width:300px;height:150px;margin:0 0 25px 50px;float:left;"}

    
      %br
      %br
    
      -# COLLECTED DATA STATS
      -# COMMENTED OUT because lack of SITE ID to select
      - var_stats = @site_variable_stats.first(:variable_id=>@variable.id)
      %table{:id => "var-stats-table", :style=>'float:left;margin-left:5px;width:45%'}
        %tr{:class=>"row#{cycle('0','1')}"}
          %td{:colspan=>"2"}
            %h4{:style=>"margin:0 0 5px 0;"}
              Collected Data
        %tr{:class=>"row-gr"}
          %td
            %b
              &nbsp;&nbsp; Count
          %td
            = var_stats.record_number
        %tr{:class=>""}
          %td
            %b
              &nbsp;&nbsp; Starting
          %td
            = var_stats.starting_timestamp.nil? ? 'NA' : var_stats.starting_timestamp.strftime('%d/%m/%Y')
        %tr{:class=>"row-gr"}
          %td
            %b
              &nbsp;&nbsp; Ending
          %td
            = var_stats.ending_timestamp.nil? ? 'NA' : var_stats.ending_timestamp.strftime('%d/%m/%Y')
        %tr
          %td{:colspan=>"2"}
            %h4{:style=>"margin:20px 0 5px 0;"}
              Recent Data Values
        %tr{:class=>"row-gr"}
          %th
            Timestamp
          %th
            Value   
        -if !@data.nil?
          -@data.each do |dv|
            %tr{:class=>"row-lt#{cycle('0','1')} smfont",:style=>""}
              %td{:style=>"text-align:center;"}
                = dv[0].strftime('%Y-%m-%d %H:%M:%S')
              %td
                %strong
                  = dv[1].to_s+' '
                &nbsp;#{@units[:units_abbreviation]} (#{@units[:units_type]})
  

      :javascript
        TEST = 'TESTING ShowVariable';
        
        function initPage() {
          console.log('initPage: NOW');
          this_pane_id = '#{@project.id}-site'+site_id+'-var'+var_id;
          this_pane = dojo.byId(this_pane_id);
          if(this_pane) this_pane = dijit.byNode(this_pane);

          if(parseInt(var_id)) graphInit(variable.id, variable.variable_name);
          
        };
        
        //var gdata = #{@variable.last_ten_values_graph(@site).to_json};
        var gdata = #{@graph_data.to_json};
        gdata = gdata ? gdata : {};
        //gdata = {};

        //graphInit();
        var graphInit = function(varId,varName) {
            console.log('>>>graphInit');
            console.log('SITE-ID= ', '#{@site.id}');
            console.log('VAR-ID= ', '#{@variable.id}');
            console.log('GDATA= ', gdata);
            console.log('TEST= ', TEST);
            plotGraph();
            handleGraph(varName);
        };
        var plotGraph = function() {
            //console.debug(gdata);
            //console.log('GDATA= ', gdata);
            console.log('>>>plotGraph:', TEST);
            var plot = $.plot($("#graph#{'-site%s-var%s'%[@site.id,@variable.id]}"), [gdata],{
                series: {
                    color : "blue",
                    lines: { show: true },
                    points: { show: true }
                },
                ticks: 10,
                grid:  { hoverable: true, clickable: true },
                xaxis: { mode: "time" },
                pan:   { interactive: true },
                zoom:  { interactive: true }
            });
        };

        //Function ShowToolTip and previousPoint allow the hover function to display
        //a message for each data point on the graph when the cursor hoversover

        //I would only mess with the css if you really need to otherwise this
        //shouldn't need any modification
        var showTooltip = function(x, y, contents) {
            $('<div id="tooltip" style="z-index:200;">' + contents + '</div>').css( {
                position: 'absolute',
                display: 'none',
                top: y + 5,
                left: x + 5,
                border: '1px solid #fdd',
                padding: '2px',
                'background-color': '#fee',
                opacity: 0.80
            }).appendTo("body").fadeIn(200);
        };

        //Most of this should remain the same
        //NOTE-- the time string for #x is in UTC format and currently is in GMT time
        var handleGraph = function(variable_name) {
            console.log('>>>handleGraph');
            var previousPoint = null;
            $("#graph#{@variable.id.to_s}").bind("plothover", function (event, pos, item) {
                var mEpoch = pos.x; // convert to milliseconds (Epoch is usually expressed in seconds, but Javascript uses Milliseconds)
                dDate = new Date();
                dDate.setTime(mEpoch);
                $("#x").text(dDate.toLocaleString());
                $("#y").text(pos.y);

                if (item) {
                    if (previousPoint != item.datapoint) {
                        previousPoint = item.datapoint;
                        $("#tooltip").remove();
                        var x = item.datapoint[0].toFixed(2),
                        y = item.datapoint[1].toFixed(2);
                        var mEpoch = x; // convert to milliseconds (Epoch is usually expressed in seconds, but Javascript uses Milliseconds)
                        dDate = new Date();
                        dDate.setTime(mEpoch);
                        showTooltip(item.pageX, item.pageY,
                        //*****You will need to change the sensor name here to the appropriate one selected above
                            //***dDate.toLocaleString() + " = " + y + " " + "#{@variable.variable_name}|" );
                            dDate.toLocaleString()+" = "+y+" "+variable_name + "| #{@units.units_name}");
                    };
                } else {
                    $("#tooltip").remove();
                    previousPoint = null;            
                }
            });
        };
      
    %br{:style=>'float:none; clear:both;'}


-if @auth
  %div{:id=>"#{varId}_edit", :style=>"width:900px;#{@var_id>0 ? 'display:none;' : ''}"}

    %strong EDIT VARIABLE
    &nbsp;&nbsp;&nbsp; (* Required)
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    = link_to('CANCEL EDIT', 'javascript:', :class=>'icon icon-edit', :onclick=>"#{varId}_cancel_edit();")
    %br
    %br
  
    -#%form(accept-charset="UTF-8" action="/projects/b6db01d0-e606-11df-863f-6e9ffb75bc80/sites/$$$id$$$" class="new_voeis_site" data-remote="true" id="site00-edit-form" method="put")
    %form(accept-charset="UTF-8" class="new_voeis_site" data-remote="true" id="#{varId}-edit-form" jsId="#{varId}_edit_form" dojoType="dijit.form.Form")

      %table{:id=>"form-table"}
        %tr
          %td
            .from-element
              %span{:class=>'label'}
                %label{:for=>"var_name"} Variable Name *
              %input(name="var_name" dojoType="dijit.form.ValidationTextBox" type="text" value="#{@variable.variable_name}" required="true")
          %td{:colspan=>"2"}
            .from-element
              %span{:class=>'label'}
                %label{:for=>"var_code"} Variable Code *
              %input(name="var_code" dojoType="dijit.form.ValidationTextBox" type="text" value="#{@variable.variable_code}" required="true")
        %tr
          %td
            .from-element
              %span{:class=>'label'}
                %label{:for=>"var_medium"} Sample Medium *
              %input(name="var_medium" dojoType="dijit.form.ValidationTextBox" type="text" value="#{@variable.sample_medium}" required="true")
          %td
            .from-element
              %span{:class=>'label'}
                %label{:for=>"var_units"} Units *
            %select(id="var_untis_id" name="var_units")
              = options_for_select(@units_all.map{|u| [u.type_format,u.id]}, selected=@variable.variable_units_id)
              -#- @units_all.each do |item|
              -#  %option(value="#{item.id}") #{item.type_format}
      
        %tr
          %td
            .from-element
              %span{:class=>'label'}
                %label{:for=>"var_gcat"} General Category *
              %input(name="var_gcat" dojoType="dijit.form.ValidationTextBox" id="site00_name" type="text" value="#{@variable.general_category}" required="true")
      
        %tr
          %td
            .from-element
              %span{:class=>'label'}
                %label{:for=>"var_vtype"} Value Type *
              %input(name="var_vtype" dojoType="dijit.form.ValidationTextBox" type="text" value="#{@variable.value_type}" required="true")
          %td
            .from-element
              %span{:class=>'label'}
                %label{:for=>"var_spec"} Speciation *
              %input(name="var_spec" dojoType="dijit.form.ValidationTextBox" type="text" value="#{@variable.speciation}" required="true")
      
        %tr
          %td
            .from-element
              %span{:class=>'label'}
                %label{:for=>"site_name"} Data Type *
              %input(name="var_dtype" dojoType="dijit.form.ValidationTextBox" type="text" value="#{@variable.data_type}" required="true")
          %td
            .from-element
              %span{:class=>'label'}
                %label{:for=>"var_qcval"} Quality Control *
              %input(name="var_qcval" class="TextBox_half" dojoType="dijit.form.NumberTextBox" constraints="{pattern:'########'}" type="text" value="#{@variable.quality_control}" required="true")
      
        %tr
          %td
            .from-element
              %span{:class=>'label'}
                %label{:for=>"site_name"} Time Support *
              %input(name="var_time_support" class="TextBox_half" dojoType="dijit.form.NumberTextBox" constraints="{pattern:'#######.####'}" type="text" value="#{@variable.time_support}" required="true")
              &nbsp;&nbsp;&nbsp;
              -#%input(name="var_reg" class="TextBox_name" dojoType="dijit.form.ValidationTextBox" type="text" value="#{@variable.is_regular}" required="true")
              %input(name="var_regular" dojoType="dijit.form.CheckBox" id="var_reg_id" jsId="var_reg_id" checked="#{@variable.is_regular}")
              Regular Interval
      
          %td
            .from-element
              %span{:class=>'label'}
                %label{:for=>"var_units"} Time Units *
            %select(id="site00_vertical_datum" name="site_vertical_datum")
              = options_for_select(@units_all.all(:units_type=>'Time').map{|u| [u.units_name,u.id]}, selected=@variable.time_units_id)
            -#- @units_all.all(:units_type=>'Time').each do |item|
            -#  %option(value="#{item.id}") #{item.units_name}
      
        %tr
          %td{:colspan=>"2"}
            .from-element{:style=>"cursor:pointer;"}
              %span{:class=>'label', :style=>"cursor:pointer;"}
                -#%label{:for=>"site_vertical_datum", :style=>"cursor:pointer;", :class=>"icon icon-add", :onclick=>"dijit.byNode(dojo.byId('site00')).showDialog('site00_xnew_vertical_datum');"}
                %label{:for=>"site_vertical_datum", :style=>"cursor:pointer;", :class=>"icon icon-add", :onclick=>"site00_new_vertical_datum.show();"}
                  Labratory
            %select(name="var_lab")
              %option(value="0") NA
              = options_for_select(@laboratories.map{|item| ['%s (%s)'%[item.lab_name,item.lab_organization],item.id]}, selected=@variable.lab_id)
              -#- @laboratories.each do |item|
              -#  %option(value="#{item.id}") #{'%s (%s)'%[item.lab_name,item.lab_organization]}
      
        %tr
          %td
            .from-element{:style=>"cursor:pointer;"}
              %span{:class=>'label', :style=>"cursor:pointer;"}
                -#%label{:for=>"site_vertical_datum", :style=>"cursor:pointer;", :class=>"icon icon-add", :onclick=>"dijit.byNode(dojo.byId('site00')).showDialog('site00_xnew_vertical_datum');"}
                %label{:for=>"site_vertical_datum", :style=>"cursor:pointer;", :class=>"icon icon-add", :onclick=>"site00_new_vertical_datum.show();"}
                  Lab Method
            %select(name="var_lab_method")
              %option(value="0") NA
              = options_for_select(@lab_methods.map{|m| [m.lab_method_name,m.id]}, selected=@variable.lab_method_id)
              -#- @lab_methods.each do |item|
              -#  %option(value="#{item.id}") #{item.lab_method_name}
      
          %td
            .from-element{:style=>"cursor:pointer;"}
              %span{:class=>'label', :style=>"cursor:pointer;"}
                -#%label{:for=>"site_vertical_datum", :style=>"cursor:pointer;", :class=>"icon icon-add", :onclick=>"dijit.byNode(dojo.byId('site00')).showDialog('site00_xnew_vertical_datum');"}
                %label{:for=>"site_vertical_datum", :style=>"cursor:pointer;", :class=>"icon icon-add", :onclick=>"site00_new_vertical_datum.show();"}
                  Field Method
            %select(name="var_field_method")
              %option(value="0") NA
              = options_for_select(@field_methods.map{|m| [m.method_name,m.id]}, selected=@variable.field_method_id)
              -#- @field_methods.each do |item|
              -#  %option(value="#{item.id}") #{item.method_name}
      
        %tr
          %td
            .from-element
              %span{:class=>'label'}
                %label{:for=>"var_spat_type"} Spatial Offset Type
              %input(name="var_spat_type" class="TextBox_name" dojoType="dijit.form.ValidationTextBox" type="text" value="#{@variable.spatial_offset_type}" required="false")
          %td
            .from-element
              %span{:class=>'label'}
                %label{:for=>"var_spat_val"} Spatial Offset Value
              %input(name="var_spat_val" class="TextBox_value" dojoType="dijit.form.NumberTextBox" constraints="{pattern:'########.######'}" type="text" value="#{@variable.spatial_offset_value}" required="false")
        %tr
          %td{:colspan=>"2"}
            .from-element
              %span{:class=>'label'}
                %label{:for=>"var_spat_units"} Spatial Units
            %select(name="var_spat_units")
              %option(value="0") NA
              = options_for_select(@units_all.all(:units_type=>'Length').map{|u| [u.units_name,u.id]}, selected=@variable.spatial_units_id)
              -#- @units_all.all(:units_type=>'Length').each do |item|
              -#  %option(value="#{item.id}") #{item.units_name}
      
        %tr
          %td
            .from-element
              %span{:class=>'label'}
                %label{:for=>"var_null"} Null Value *
              %input(name="var_null" class="TextBox_name" dojoType="dijit.form.ValidationTextBox" type="text" value="#{@variable.no_data_value}" required="true")
          %td
            .from-element
              %span{:class=>'label'}
                %label{:for=>"var_detlimit"} Detection Limit
              %input(name="var_detlimit" class="TextBox_value" dojoType="dijit.form.NumberTextBox" constraints="{pattern:'#######.####'}" type="text" value="#{@variable.detection_limit}" required="false")
      
        %tr
          %td
            .from-element
              %span{:class=>'label'}
                %label{:for=>"var_log_type"} Logger Type
              %input(name="var_log_type" class="TextBox_name" dojoType="dijit.form.ValidationTextBox" type="text" value="#{@variable.logger_type}" required="false")
          %td
            .from-element
              %span{:class=>'label'}
                %label{:for=>"var_log_id"} Logger ID
              %input(name="var_log_id" class="TextBox_name" dojoType="dijit.form.ValidationTextBox" type="text" value="#{@variable.logger_id}" required="false")
        %tr
          %td
            .from-element
              %span{:class=>'label'}
                %label{:for=>"var_sens_type"} Sensor Type
              %input(name="var_sens_type" class="TextBox_name" dojoType="dijit.form.ValidationTextBox" type="text" value="#{@variable.sensor_type}" required="false")
          %td
            .from-element
              %span{:class=>'label'}
                %label{:for=>"var_sens_id"} Sensor ID
              %input(name="var_sens_id" class="TextBox_name" dojoType="dijit.form.ValidationTextBox" type="text" value="#{@variable.sensor_id}" required="false")
        %tr
          %td{:colspan=>"2"}
            .from-element
              %span{:class=>'label'}
                %label{:for=>"var_his_id"} HIS ID
              %input(name="var_his_id" class="TextBox_value" dojoType="dijit.form.ValidationTextBox" type="text" value="#{@variable.his_id}" required="false")
      
        %tr{:id=>"site00-provenance-row"}
          %td{:colspan=>"2"}
            .from-element
              %span{:class=>'label'}
                %label{:for=>"site_provenance_comment"} Provenance Comment
            %textarea( name="site_provenance_comment" id="site00_provenance_comment" rows="2")
              -
      
        %tr
          %td{:colspan=>"2"}
            %br
            %button(dojoType="dijit.form.Button" id="site00_voeis_site_submit" name="commit" value="Save Site" disabled="true") 
              Save Variable
              %script{:type=>"dojo/method", :event=>"startup"}
                :plain
                  var form = #{varId}_edit_form;
                  var variable = #{@variable.to_json};
                  var var_id = parseInt(variable.id);
                  var site_id = parseInt(#{@site.nil? ? 0 : @site.id});
                  var this_pane_id = '#{@project.id}-site'+site_id+'-var'+var_id;
                  var this_pane = dojo.byId(this_pane_id);
                  if(this_pane) this_pane = dijit.byNode(this_pane);
                  console.log('INIT-FORM:',form);
                  console.log('FOR VAR:',variable);
                  if(parseInt(#{@var_id})) graphInit(variable.id,variable.name);
                  function #{varId}_cancel_edit() {
                    //###SCROLL TO TOP
                    //window.scrollTo(0,0);
                    $('html #main_container').animate({scrollTop:0}, 'slow');//IE, FF
                    $('body #main_container').animate({scrollTop:0}, 'slow');//chrome, don't know if safary works
                    if(parseInt(#{@var_id})) {
                      $('##{varId}_edit').hide();
                      $('##{varId}_show').show();
                    } else {
                      var tabs = dijit.byId('tab_browser');
                      tabs.removeChild(this_pane);
                      this_pane.onClose();
                      this_pane.destroyRecursive();  
                    };
                  };
                  this_pane.connect(this_pane, "onShow", function(state){
                    if(parseInt(#{@var_id})) graphInit(variable.id,variable.name);
                  });
                  var form0 = form.domNode;
                  //var pane = dijit.byNode(dojo.byId('site00'));
                  //eval('var pane = site00ref');
                  var site_pane = window['#{siteId}ref']
                  //var site = site_pane.site;
                  console.log('GO VAR_UPDATE:',this_pane);
                  //INITIALIZE: submit button
                  if(var_id) this.attr("disabled", !form.validate());
                  form0.elements['var_name'].focus();
                  //IS FORM VALID?
                  console.log('FORM-CONNECT: '+site_id);
                  //###ON-STATE-CHANGE
                  this.connect(form, "onValidStateChange", function(state){
                    //console.log('formStateChange:',state);
                    this.attr("disabled", !state);
                  });
                  //###ON-SUBMIT
                  this.connect(this, "onClick", function(){
                    console.log('CREATE VAR: '+variable.id);
                    //###SCROLL TO TOP
                    //window.scrollTo(0,0);
                    $('html #main_container').animate({scrollTop:0}, 'slow');//IE, FF
                    $('body #main_container').animate({scrollTop:0}, 'slow');//chrome, don't know if safary works
                    var data = {variable:{
                      variable_name:form0.elements['var_name'].value, 
                      variable_code:form0.elements['var_code'].value, 
                      sample_medium:form0.elements['var_medium'].value, 
                      variable_units_id:form0.elements['var_units'].value, 
                      general_category:form0.elements['var_gcat'].value, 
                      value_type:form0.elements['var_vtype'].value, 
                      speciation:form0.elements['var_spec'].value, 
                      data_type:form0.elements['var_dtype'].value, 
                      quality_control:form0.elements['var_qcval'].value, 
                      time_support:form0.elements['var_time_support'].value, 
                      is_regular:form0.elements['var_regular'].value, 
                      time_units_id:form0.elements['var_time_units'].value, 
                      lab_id:form0.elements['var_lab'].value, 
                      lab_method_id:form0.elements['var_lab_method'].value, 
                      field_method_id:form0.elements['var_field_method'].value, 
                      spatial_offset_type:form0.elements['var_spat_type'].value, 
                      spatial_offset_value:form0.elements['var_spat_value'].value, 
                      spatial_units_id:form0.elements['var_spat_units'].value, 
                      no_data_value:form0.elements['var_null'].value, 
                      detection_limit:form0.elements['var_detlimit'].value, 
                      logger_type:form0.elements['var_log_type'].value, 
                      logger_id:form0.elements['var_log_id'].value, 
                      sensor_type:form0.elements['var_sens_type'].value, 
                      sensor_id:form0.elements['var_sens_id'].value,
                      his_id:form0.elements['var_his_id'].value, 
                      provenance_comment:form0.elements['var_provenance_comment'].value, 
                    }};
                    //console.log('LatLongDatum ID:',pane.local.lat_long_datum_dd.value,pane.local.lat_long_datum_dd.text());
                    //console.log('VerticalDatum ID:',pane.local.vertical_datum_dd.value,pane.local.vertical_datum_dd.text());
                    //console.log('LocalProjection ID:',pane.local.local_projection_dd.value,pane.local.local_projection_dd.text());
                    if(var_id) {
                      //###EDIT VAR
                      var post_type = 'PUT';
                      var post_url = '/projects/#{@project.id}/variables/'+var_id+'.json';
                      data.variable['id'] = var_id.toString();
                    } else {
                      //###NEW VAR (var_id==0)
                      var post_type = 'POST';
                      var post_url = '/projects/#{@project.id}/variables.json';
                    };
                    $.ajax({
                      type: post_type,
                      url: post_url,
                      data: data,
                      success: function(newValue){
                        //callback
                        if(var_id) {
                          //###EDIT VAR
                          this_pane.refresh();
                          return;
                        };
                        data.variable['id'] = parseInt(newValue.id);
                        site_var_data.append(data.variable);
                        site_pane.siteUpdate();
                        #{varId}_cancel_edit();
                      },
                      dataType: 'json'
                    });
                    return false;
                  });
            
            
            &nbsp;&nbsp;
            -#%button(dojoType="dijit.form.Button" onclick="console.log('CANCEL!');$('#edit-site00').hide();$('#show-site00').show();") 
            -#%button(id="site00_voeis_cancel" dojoType="dijit.form.Button") Cancel
            %button(dojoType="dijit.form.Button" id="site00_voeis_cancel" value="Cancel" onclick="#{varId}_cancel_edit();") Cancel
            -#&nbsp;&nbsp;
            -#= link_to('Cancel', 'javascript:', :class=>'icon icon-cancel', :onclick=>"$('#edit-site00').hide();$('#show-site00').show();") 
            -#= link_to('TEST', 'javascript:', :class=>'icon icon-cancel', :onclick=>"dijit.byNode(dojo.byId('site00')).siteFormSave(this);") 
            -#%input{:type=>"button", :value=>"TEST", :onclick=>"dijit.byNode(dojo.byId('site00')).siteFormSave(this.form);"}
            -#= link_to('Cancel', '#', :class=>'icon icon-cancel', :onclick=>'window.history.back();return false;') 


%br{:style=>'float:none; clear:both;'}
