#new_variable_name_1{:dojoType=>"dijit.Dialog", :title=>"New Variable Name"}
  %h3 Create a new Variable Name:
  = form_for(:variable_name_c_v) do |f|
    = f.label("Term:")
    =clear_break
    = f.text_area("term", :cols => 45, :rows => 2, :style => {:resize => "none"}, :class => "var_name_term")
    = f.label("Definition:")
    = clear_break
    = f.text_area("definition", :cols => 45, :rows => 6, :style => {:resize => "none"}, :class => "var_name_definition")
    =clear_break
    %button{:id=> 'new_variable_name_button',:dojoType=>"dijit.form.Button", :title=>'Create', :onClick=>"createVariableName();"}
      Create Value Type
  :javascript  
    function createVariableName() { 
      
    $.post("#{root_url + "variable_name_c_vs"}"+"?term=" + $(".var_name_term").val()+"&definition=" + $(".var_name_definition").val(),
    function(data) {
    $('#variable_variable_name').
    append($("<option></option>").
    attr("value",$(".var_name_term").val()).
    text($(".var_name_term").val())); 
    $('#variable_variable_name').val($(".var_name_term").val());
    $(".var_name_term").val("");
    $(".var_name_definition").val("");
    dijit.byId("new_variable_name_1").hide();
    }
    );
    }