- content_for(:javascripts) do
  :javascript
    dojo.require("dijit.dijit");
    dojo.require("dijit.Dialog");
    dojo.require("dijit.form.Form");
    dojo.require("dijit.form.Button");
    dojo.require("dojox.form.Uploader");
    dojo.require("dojox.grid.EnhancedGrid");
    dojo.require("dojox.grid.enhanced.plugins.NestedSorting");
    dojo.require("dojox.grid.enhanced.plugins.Filter");
    dojo.require("dojo.data.ItemFileReadStore");
    dojo.require("dijit.layout.TabContainer");
    dojo.require("dojox.grid.enhanced.plugins.IndirectSelection");
    var site_data = [
       #{@sites.map{|site| "        "+site.to_json}.join(",\n")}
     ];
     var psites_json = {
         identifier: 'id',
         label: 'name',
         items: site_data };
    function enableButton(){
      if ($("#site_id").val() != ""){
        dijit.byId("upload_button").set("disabled", false);
      }
    }
#upload
  %h2 Sample And Data Upload Wizard: Step 1
  
  %h4{:style=>'margin-top:10px;'} Select A Site:
  #site_store{:dojoType=>"dojo.data.ItemFileReadStore", :jsId=>"psites", :data=>"psites_json"}
  %table{:dojoType=>"dojox.grid.EnhancedGrid", :plugins=> "{filter:true}",  :store=>"psites", :clientSort=>"true", :style=>"width: 650px; height: 250px;", :rowSelector=>"20px", :jsId=>"SiteDisplayGrid", :id=>"SiteDisplayGrid", :title=>"Sites"}
   
    %thead
      %tr
        %th{:field=>"name", :width=>"190px", :filterable=>true} Name
        %th{:field=>"code", :width=>"130px", :filterable=>true} Code
        %th{:field=>"latitude", :width=>"100px", :filterable=>true} Lat
        %th{:field=>"longitude", :width=>"100px", :filterable=>true} Long
    %script{:type=>"dojo/method", :event=>"onClick", :args=>"evt"}
      var item = SiteDisplayGrid.selection.getSelected();
      if (item.length < 1){
      //do nothing
      }
      else{
      $("#site_id").val(item[0]["id"]);
      $("#site_span").text(""+item[0]["name"]);
      if ($("#datafile").val() != ""){
      dijit.byId("upload_button").set("disabled", false); 
      };
      }
  =clear_break
  =clear_break
  = form_tag('pre_process_samples_file', :multipart => true) do
    = hidden_field_tag(:site_id)
    Site To Associate With Data And Sample:
    %span{:id=>"site_span"}None
    =clear_break
    = 'File to upload:'
    = file_field_tag(:datafile, :accept => "text/csv,text/comma-separated-values,application/vnd.ms-excel", :onChange=>"enableButton();")
    = hidden_field_tag( :project_id, :value =>@project.id)
    =clear_break
    Please indicate which line data begins on.
    - opt_string = ""
    - (1..20).each do |i|
      - opt_string = opt_string + "<option value="+i.to_s+">"+i.to_s+"</option>"
    = select_tag('start_line', opt_string.html_safe)
    =clear_break
    You can select a DataTemplate to apply to this CSV or Create a New Data Template:
    - template_string = '<option value="None">"Create A New Data Template"</option>'
    - @data_templates.each do |template|
      - template_string = template_string + "<option value="+template.id.to_s+">"+template.name+"</option>"
    = select_tag("data_template_id", template_string.html_safe)
    =clear_break
    %button{:id=> 'upload_button',:dojoType=>"dijit.form.Button", :title=>'Upload', :disabled=>true, :type=>"submit"}
      Upload File
    