:css
  #content { margin:10px 50px }
  #wrapper {
    padding-bottom: 20px;
    background-color: #ccb;
    padding-top: 1px;
  }
  #wrapper img { margin-right:12px }
  #wrapper p { margin:0 20px }

  #form-table { width:600px; }
  #form-table td { width:50%; }
  .form-element { width:15em; }
  #site_name { width:25em; }
  #site_local_projection_id { width:20em; }
  #site_pos_accuracy_m { width:20em; }
  #site_comments { width:42em; }


- content_for(:javascripts) do
  :javascript
    dojo.require("dijit.dijit");
    dojo.require("dijit.Declaration");
    dojo.require("dijit.layout.ContentPane");
    dojo.require("dijit.layout.TabContainer");
    dojo.require("dojox.layout.TableContainer");
    dojo.require("dijit.form.TextBox");
    
    //$(window).ready(function(){ 
    dojo.addOnLoad(function(){
        dojo.parser.parse();
        //hideLoader();
    });
    
- content_for(:toolbar) do
  -##siteButton{:dojoType => "dijit.form.DropDownButton", :iconClass => "project-icon-25"}
  -#  %span Site
  -#  %div{:dojoType => "dijit.Menu"}                    
  -#    -if !current_user.nil? && current_user.projects.include?(@project)
  -#      = link_to("Edit Site", edit_project_site_path(@project,resource.id), :dojoType => "yogo.ui.MenuLink")
    
%h2
  #{@site.name}

-#-if !current_user.nil? && current_user.projects.include?(@project)
-#  = link_to('Edit', edit_project_site_path(@project,@site.id), :class=>'icon icon-edit')
-#  &nbsp;&nbsp;&nbsp;
-#= link_to('Cancel', project_path(@project), :class => 'icon icon-cancel') 
-#%br
-#%br

-#tab_browser{:dojoType=>"dijit.layout.TabContainer"}
-#tab_browser{:dojoType=>"dijit.layout.TabContainer", :style=>"margin-top:0;padding-top:0;"}
-##tab_browser{:style=>"margin-top:0;padding-top:0;width:700px;"}
.show{:dojoType=>"dijit.layout.ContentPane", :title=>@site.name, :style=>"margin-top:0;padding-top:0;"}

  %br
  %table{:id => "property-table", :style=>'width:80%;float:left;'}
    - @site_properties.each do |prop|
      %tr{:class=>"row#{cycle('1','0')}"}
        %td
          %b
            #{prop.capitalize}
        %td
          #{@site[prop]}

  %br{:style=>'float:none; clear:both;'}
  %br
  %br
  %table{:id=>'stats', :class=>'', :style=>'width:500px; padding:0; float:left; margin-left:10px;'}
    %tr
      %td
        %h4{:style=>'margin-top:0;'}
          Variable Data
      %td
        %h4{:style=>'margin-top:0;'}
          Count
      %td
        %h4{:style=>'margin-top:0;'}
          Start
      %td
        %h4{:style=>'margin-top:0;'}
          End
  
    - if @site_variable_stats.empty?
      %tr
        %td{:colspan=>"4"}
          %em &nbsp;&nbsp;&nbsp; no data available
    - else
      - @site.variables.each do |var|
        - var_stats = @site_variable_stats.first(:variable_id=>var.id)
        %tr
          %td
            %b
              -#= link_to(var.variable_name, project_variable_path(@project,var.id)) 
              = link_to(var.variable_name, "javascript:", :onclick=>"dojo.publish('voeis/project/variable/tab', ['#{@project.id}',#{var.id},'#{var.variable_name}',#{@site.id}]);")
          - if !var_stats.nil?
            %td
              -#= 'ID = %s'%var.id
              = var_stats.record_number
            %td
              = var_stats.starting_timestamp.nil? ? 'NA' : var_stats.starting_timestamp.strftime('%d/%m/%Y')
            %td
              = var_stats.ending_timestamp.nil? ? 'NA' : var_stats.ending_timestamp.strftime('%d/%m/%Y')
          - else
            %td
              NA
            %td
              NA
            %td
              NA
  
  %br{:style=>'float:none; clear:both;'}
  %br
  - if @site.samples.count>0
    #all_variables
      %h3
        Existing Samples    
      = form_for("export", :url=> {:controller=>'/projects', :action=>'export'}) do 
        = hidden_field_tag('column_array', @label_array.to_json)
        = hidden_field_tag('row_array', @current_samples.to_json)
        = hidden_field_tag('file_name', "project_samples")
        = submit_tag("Export Samples")
      %br
      #variables_list
        %table{:id=>"sample-table", :style=>'width:60%;float:left;'}
          %tr
            - @label_array.each do |label|
              %th
                %b
                  = label
          - @site.samples.each do |samp|
            %tr{:class=>"row#{cycle('1','0')}"}
              - @field_array.each do |field|
                %td
                  = samp[field].to_s
                
          -#%em &nbsp;&nbsp;&nbsp; no samples to show

%br{:style=>'float:none; clear:both;'}

%br

-# if @versions.count > 0
-#  %h3
-#    Versions
    
-# @versions.each do |ver|
-#%table
-#  - resource.properties.each do |prop|
-#    %tr
-#      %td
-#        %b
-#          #{prop.name.to_s.capitalize}
-#      %td
-#        #{ver[prop.name.to_s]}