-# SITE VERSIONS PANE

:javascript
  dojo.require("dojox.grid.EnhancedGrid");
  dojo.require("dojox.grid.enhanced.plugins.NestedSorting");
  dojo.require("dojox.grid.enhanced.plugins.Filter");
  dojo.require("dojo.data.ItemFileReadStore");
  dojo.require("dijit.layout.TabContainer");
  dojo.require("dojox.grid.enhanced.plugins.IndirectSelection");
  
  // SAVE CALLBACK for ITEM ROLLBACK
  function cv_item_restore(item) {
    console.log('ROLLBACK:',item);
    var pane = window['site'+item.id+'ref'];
    var data = {site:item};
    delete data.site.lat_long_datum;
    delete data.site.local_projection;
    delete data.site.vertical_datum;
    data.site.id = parseInt(item.id);
    data.site.latitude = parseFloat(item.latitude);
    data.site.longitude = parseFloat(item.longitude);
    data.site.lat_long_datum_id = parseInt(item.lat_long_datum_id);
    data.site.local_projection_id = parseInt(item.local_projection_id);
    data.site.vertical_datum_id = parseInt(item.vertical_datum_id);
    for(prop in item)
      if(item[prop]==null) delete data.site[prop];
    // POST ITEM
    $.ajax({
      type: 'PUT',
      url: '/projects/#{@project.id}/sites/'+item.id,
      data: data,
      success: function(e) {
        console.log('UPDATED>>>',data);
        pane.siteSave(item);
        dojo.publish('voeis/project/map/clear',[item.id]);
        dojo.publish('voeis/project/site/history/update',[item.id]);
      },
      dataType: 'json'
    });
  };
  // SAVE CALLBACK-- OLD: open edit
  function cv_item_restore000(item) {
    console.log('RESTORE:',item);
    var tabs = dijit.byId('tab_browser');
    var siteId = item.id;
    //var sitePane = openSiteTab(tabs, item.id, true);
    var sitePane = dojo.byId('site'+siteId);
    console.log('site'+siteId, sitePane);
    if(sitePane) {
      sitePane = dijit.byNode(sitePane);
    } else {
      sitePane = new voeis.ui.SitePane2();
      sitePane.setSite(siteId);
      tabs.addChild(sitePane);
      //console.log(sitePane);
    };
    sitePane.siteUpdate(item);
    sitePane.setEdit();
    tabs.selectChild(sitePane);
  };
  
  
%h3{:style=>"margin-top:0;"}
  %span.small{:style=>"font-size:14px;"}
    HISTORY: 
  = '%s [Id:%s]'%[@site.name,@site.id]

%strong
  SHOW SITE VERSIONS
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
= link_to('REFRESH', 'javascript:', :class=>'icon icon-hist', :onclick=>"dojo.publish('voeis/project/site/history/update', [#{@site.id}]);")
%br


- projId = @project.nil? ? '' : @project.id.to_s
#cv-versions
  = render_widget :versions, :display, :item=>@site,
                                        :versions=>@versions,
                                        :unique_id=>"%s_site%03d"%[projId,@site.id],
                                        :unique_jsid=>"%s_site%03d"%[projId.tr('-','$'),@site.id],
                                        :item_refs=>@site_refs,
                                        :properties=>@ver_properties,
                                        :restore_callback=>"cv_item_restore",
                                        :user=>current_user,
                                        :project=>@project



