- content_for(:stylesheets) do
  = stylesheet_link_tag("/javascripts/dojox/grid/enhanced/resources/EnhancedGrid.css")
  = stylesheet_link_tag("/javascripts/dojox/grid/enhanced/resources/claro/EnhancedGrid.css")

- content_for(:javascripts) do
  :plain
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  :javascript
    dojo.require("dijit.Dialog");
    dojo.require("dijit.layout.TabContainer");
    dojo.require("dijit.layout.ContentPane");
    dojo.require("dojox.grid.EnhancedGrid");
    dojo.require("dojox.grid.enhanced.plugins.NestedSorting");
    dojo.require("dojox.grid.enhanced.plugins.Filter");
    dojo.require("dojo.data.ItemFileReadStore");
    dojo.require("dojox.grid.enhanced.plugins.IndirectSelection");
    dojo.require ("voeis.Server");
    dojo.require("voeis.ui.SitePane2");
    var projectsDataStore = voeis.Server.DEFAULT.projectsDataStore();
    var projectStore = dojo.store.JsonRest({target: "#{root_url}projects.json?"});
    //var Sitestore = voeis.Server.DEFAULT.projectSitesDataStore('#{@project.id}');
    //var item = projectStore.get('id=#{@project.id}');
    //dojo.addOnLoad(function(){
    //  dijit.byId('split_map').store.add(item.results[0][0]);
    //});
    
    var pmap;
    var pmarkers = [];
    var icon_red = 'http://www.google.com/intl/en_us/mapfiles/ms/icons/red-dot.png';
    var icon_blue = 'http://www.google.com/intl/en_us/mapfiles/ms/icons/blue-dot.png';
    var icon_default = icon_red;
    var icon_pop = icon_blue;
    var site_tabs = [];
    var site_data = [
      #{@sites.map{|site| "        "+site.to_json}.join(",\n")}
    ];
    var site_stat_data = [
      #{@site_stats.map{|site| "        "+site.to_json}.join(",\n")}
    ];
    var site_var_data = [
      #{@site_var_stats.map{|site| "        "+site.to_json}.join(",\n")}
    ];
    var site_samp_data = [
      #{@site_samps.map{|site| "        "+site.to_json}.join(",\n")}
    ];
    var site_properties = [
      #{@site.properties.map{|prop| "'"+prop.name.to_s+"'"}.join(",\n")}
    ];
	  
    for(var i=0;i<site_data.length;i++) {
      site_data[i]['idx'] = i;
      site_data[i]['data_vars'] = site_stat_data[i].vars;
      site_data[i]['data_count'] = site_stat_data[i].count;
      site_data[i]['data_start'] = site_stat_data[i].first;
      site_data[i]['data_end'] = site_stat_data[i].last;
    };
    var psites_json = {
        identifier: 'id',
        label: 'name',
        items: site_data };
        
    function edit_formatter(id) {
      var link = '<a href="javascript:" onclick="dojo.publish(\'voeis/project/site/pop\', ['+id+']);"><img src="/images/icons/blue-dot16.png" alt="MAP site" title="MAP" /></a>';
      var vlink = '<a href="javascript:" onclick="dojo.publish(\'voeis/project/site/select\', ['+id+']);"><img src="/images/icons/view.gif" alt="VIEW site" title="VIEW" /></a>';
      //var edlink = '<a href="javascript:" onclick="dojo.publish(\'voeis/project/site/edit\', ['+id+']);"><img src="/images/icons/edit16.png" alt="EDIT site" title="EDIT" /></a>';
      return link+'&nbsp;&nbsp;'+vlink;
    }
    
    function get_site(siteId) {
      for(var i=0;i<site_data.length;i++) 
        if(site_data[i].id==siteId) 
          return site_data[i];
    }
    
    function is_tab00(siteId) {
      for(var i=0;i<site_tabs.length;i++) 
        if(site_tabs[i]==siteId) 
          return true;
      return false;
    }
    
    function is_tab(siteId) {
      var tabs = dijit.byId('tab_browser');
      for(var i=0;i<tabs.site_tabs.length;i++) 
        if(tabs.site_tabs[i]==siteId) 
          return true;
      return false;
    }
    
    function pmap_init() {
      var map_opts = {
        scaleControl: true, 
        zoomControl: true, 
        mapTypeControl: true, 
        scrollwheel: true, 
        mapTypeId: google.maps.MapTypeId.SATELLITE, 
        center: new google.maps.LatLng(46.739861,-110.786133), 
        zoom: 4};
      pmap = new google.maps.Map(document.getElementById("#{@project.id}"), map_opts);
      var bounds = new google.maps.LatLngBounds();
      for(var i=0;i<site_data.length;i++) {
        var item = site_data[i];
        var site_name = item.name.toString();
        var stats = site_stat_data[i];
        var point = new google.maps.LatLng(item.latitude, item.longitude);
        var marker = new google.maps.Marker({map:pmap, position:point, icon:icon_default, title:site_name});
        //var link = '<a href="'+(window.location+'/sites/'+item.id)+'"><strong>'+item.name+'</strong></a>';
        //var link2 = '<a href="'+(window.location+'/sites/'+item.id)+'"><strong>SITE DETAILS HERE</strong></a>';
        //var edlink = '<a href="'+(window.location+'/sites/'+item.id)+'/edit/"><strong>EDIT SITE HERE</strong></a>';
        //var link = '<a href="javascript:" onclick="dojo.publish(\'voeis/project/site/select\', ['+item.id+']);"><strong>'+item.name+'</strong></a>';
        //var link2 = '<a href="javascript:" onclick="dojo.publish(\'voeis/project/site/select\', ['+item.id+']);"><strong>SITE DETAILS HERE</strong></a>';
        //var edlink = '<a href="javascript:" onclick="dojo.publish(\'voeis/project/site/edit\', ['+item.id+']);"><strong>EDIT SITE HERE</strong></a>';
        var link = '<a href="javascript:" onclick="dojo.publish(\'voeis/project/site/select\', ['+item.id+']);">';
        marker.idx = item.idx;
        marker.id = item.id;
        marker.info = '<p style="margin:0 15px;">';
        marker.info += link+'<strong>'+item.name+'</strong></a><br/>&nbsp;&nbsp;&nbsp;';
        marker.info += '(click for '+link+'<strong>SITE DETAILS</strong></a>)<br/>';
        marker.info += '&nbsp;&nbsp; <strong>Code:</strong> '+item.code+'<br/>';
        marker.info += '&nbsp;&nbsp; <strong>Site ID:</strong> '+item.id+'&nbsp;&nbsp;';
        marker.info += '&nbsp;&nbsp; <strong>State:</strong> '+item.state+'<br/>';
        marker.info += '&nbsp;&nbsp; <strong>Lat/Long:</strong> '+item.latitude+', '+item.longitude;
        marker.info += '<br/>&nbsp;&nbsp; <strong>Variables:</strong> '+stats.vars+' &mdash; ';
        marker.info += '<strong>Data collected:</strong> '+stats.count+'<br/>';
        marker.info += '&nbsp;&nbsp; <strong>Starting:</strong> '+stats.first;
        marker.info += ' &mdash; <strong>Ending:</strong> '+stats.last+'<br/>';
        //marker.info += item.code+'<br/>Elevation: '+item.elevation_m+'<br/>'
        //marker.info += item.county+', '+item.state+'</p>';
        marker.info += '</p>';
        marker.window = new google.maps.InfoWindow({content:marker.info});
        marker.pop = function() {
          // this.setIcon(); this.getIcon();
          //var tabs = dijit.byId('tab_browser');
          //tabs.selectChild("#{@project.id}");
          for(var i=0;i<pmarkers.length;i++) {
            pmarkers[i].window.close();
            pmarkers[i].setIcon(icon_default);
          };
          this.setIcon(icon_pop);
          this.window.open(pmap,this);
        };
        marker.selsite = function() {
          // click site table
          var item = site_data[this.idx];
          var grid = dijit.byId('project_sites');
          var col = grid.layout.cells[0];
          for(var i=0; i<grid.rowCount; i++)
            if(item.id==grid.getItem(i).id) {
              grid.scrollToRow(i);
              grid.focus.setFocusCell(col,i);
              grid.focus.focusGrid();
              break;
            };
        };
        marker.seltable = function() {
          // click SiteDisplayGrid
          //var map = dijit.byId("overview");
          //var tabs = dijit.byId('tab_browser');
          //tabs.selectChild(map);
          //tabs.selectChild("#{@project.id}");
          var item = site_data[this.idx];
          var grid = dijit.byId('SiteDisplayGrid');
          var col = grid.layout.cells[1];
          grid.selection.clear();
          //grid.selection.addToSelection(item);
          for(var i=0; i<grid.rowCount; i++)
            if(item.id==grid.getItem(i).id) {
              grid.scrollToRow(i);
              grid.focus.setFocusCell(col,i);
              grid.focus.focusGrid();
              break;
            };
          grid.selection.addToSelection(item);
        };
        marker.click = function(){
          this.selsite();
          //this.seltable();
          this.pop();
        };
        google.maps.event.addListener(marker, 'click', marker.click);
        pmarkers.push(marker);
        bounds.extend(point);
      };
      pmap.fitBounds(bounds);
      
    };

    dojo.addOnLoad(function(){
      //dojo.byId('SiteDisplayGrid').canSort = function(col,field){ return false; };
    });
    
    $(window).ready(function(){ 
      pmap_init();
      dojo.parser.parse();
      //dijit.byId('SiteDisplayGrid').canSort = function(col,field){ return (col>1 && field=='name'); };
      //dijit.byId('SiteDisplayGrid').canSort = function(col,field){ return false; };
      var tabs = dijit.byId('tab_browser');
      tabs.isTab = function(siteId) {
        var tabs = dijit.byId('tab_browser');
        tabs.site_tabs = tabs.site_tabs || [];
        for(var i=0;i<tabs.site_tabs.length;i++) 
          if(tabs.site_tabs[i]==siteId) return true;
        return false;
      };
      tabs.showSiteTabs = function(elId) {
        var tabs = dijit.byId('tab_browser');
        var out = '';
    		tabs.site_tabs = tabs.site_tabs || [];
        for(var i=0;i<tabs.site_tabs.length;i++) 
          out += tabs.site_tabs[i];
        if(elId) $('#'+elId).text(out);
        return out;
      };
      function proj_pop() {
        dijit.byId('overview_dialog').show();
        dijit.byId('SiteDisplayGrid').show();
      };
    });
    
-#{@sites_data.each_with_index{|data,idx| "    site_data[%s].stats = %s;"%[idx,data.to_json]}.join("\n")}
    
- content_for(:toolbar) do
  -##projectButton{:dojoType => "dijit.form.DropDownButton", :iconClass => "project-icon-25"}
  -#  %span 
  -#    = @project.name
  -#  %div{:dojoType => "dijit.Menu"}                    
  -#    = link_to("Overview", "#", :dojoType => "yogo.ui.MenuLink", :onclick=>"dijit.byId('overview_dialog').show();return false;")
  -#    -#-if !current_user.nil? && current_user.projects.include?(@project)
  -#    -#  = link_to("Add Site", new_project_site_path(@project), :dojoType => "yogo.ui.MenuLink")
  -#    - if @sites.count > 0
  -#      -#= link_to("Add Variable", new_project_variable_path(@project), :dojoType => "yogo.ui.MenuLink")
  -#      -#= link_to("Add Unit", new_project_unit_path(@project), :dojoType => "yogo.ui.MenuLink")
  -#      = link_to("Add Sample", new_project_sample_path(@project), :dojoType => "yogo.ui.MenuLink")
  -#      -#= link_to("Upload Sample Data", @project.id.to_s+"/data_values/pre_process_sample_file_upload", :dojoType => "yogo.ui.MenuLink")
  -#      = link_to("Add Data Stream", new_project_data_stream_path(@project), :params => {:project_id => @project.id}, :dojoType => "yogo.ui.MenuLink")
  -#      
  -#    - if @project.managed_repository { Voeis::Sample.all.count } > 0
  -#      = link_to("Add Sample Data", pre_process_samples_file_upload_project_data_values_path(@project), :dojoType => "yogo.ui.MenuLink")
  -#      = link_to("Add Field Data", new_field_measurement_project_sensor_values_path(@project), :params => {:project_id => @project.id}, :dojoType => "yogo.ui.MenuLink")
  -#    - if @project.managed_repository { Voeis::DataStream.all.count } > 0
  -#      = link_to("Add Data", add_project_data_streams_path(@project), :params => {:project_id => @project.id}, :dojoType => "yogo.ui.MenuLink")
  -#    = link_to("Settings...", edit_project_path(@project), :dojoType => "yogo.ui.MenuLink")

  -##dataButton{:dojoType => "dijit.form.DropDownButton"}
  -#  %span{:style => "font-weight:bold"}
  -#    Project Data
  -#  %div{:dojoType => "dijit.Menu"}
  -#    -#= link_to("Browse", campaigns_path, :dojoType => "yogo.ui.MenuLink")
  -#    = link_to("Browse Data Streams", query_project_data_streams_path(@project), :dojoType => "yogo.ui.MenuLink")
  -#    = link_to("Browse Sample Data", query_project_samples_path(@project), :dojoType => "yogo.ui.MenuLink")
  -#    -if !current_user.nil?
  -#      = link_to("Search", campaigns_path, :dojoType => "yogo.ui.MenuLink")
  -#      %div{:dojoType=>"dijit.MenuSeparator"}
  -#      %div{:dojoType=>"dijit.PopupMenuItem"}
  -#        %span My Saved Searches
  -#        %div{:dojoType=>"dijit.Menu", :id=>"dataSubMenu"}
  -#          = render_cell(:data_menu, :display, :current_user => current_user)

#overview_dialog{:dojoType=>"dijit.Dialog", :disableCloseButton=>true, :title=>"Project Overview", :style=>"width:640px;"}
  - if @project.description && @project.description.length > 0
    = @project.description
  - else
    = link_to('[Add Project Description]', edit_project_path(@project))

#site_pane_proto{:style=>"display:none;"}
  = render_widget :site_pane2, :display, :project=>@project, :sites=>@sites, :projectSite=>@site, :user=>current_user

#site_store{:dojoType=>"dojo.data.ItemFileReadStore", :jsId=>"psites", :data=>"psites_json"}

            
#content-title{:style=>"margin:0;margin-bottom:0;padding:0;"} 
  %a{:href=>"javascript:", :onclick=>"dijit.byId('overview_dialog').show();return false;", 
      :title=>"click for overview",
      :style=>"margin:0;padding:0;"}
    - if @project.is_private == true
      %span.icon.icon-private{:style=>"padding:0;"}
        = @project.name
    - else
      %span.icon{:style=>"padding:0;"}
        = @project.name
    %span{:style=>"font-size:10px;"}
      &nbsp;&nbsp; (click for Project Overview)

= clear_break

#tab_browser{:dojoType=>"dijit.layout.TabContainer", :style=>"width:905px;height:540px;margin-top:0;padding-top:0;"}
  #overview{:dojoType=>"dijit.layout.ContentPane", :title=>"Project", :style=>"margin:0;padding:0;", :selected=>true}
    .show-map{:style=>"float:left;width:700px;height:500px;margin:0;padding:0;", :id=>@project.id}
    -#= render(:partial => 'overview_map', :locals => { :project => @project,
    -#                                                  :sites => @sites,
    -#                                                  :class_name => 'show-map' } )
    %table{:id=>'project_sites', :dojoType=>"dojox.grid.EnhancedGrid", :store=>"psites", 
            :style=>"width:200px;height:500px;float:left;margin:0;padding:0;cursor:pointer;"}
      %script{:type => "dojo/method", :event => "onSelected", :args => "idx"}
        :plain
          //var map = dijit.byId(@project);
          //var map = getElementById('#{@project.id}');
          var item = this.getItem(idx);
          pmarkers[item.idx].pop();
          //pmarkers[item.idx].seltable();
      %thead
        %tr
          %th{:field => "name", :width => "auto"} Site
    = clear_break

  %table{:dojoType=>"dojox.grid.EnhancedGrid", :title=>"Data Summary", 
          :plugins=> "{nestedSorting:false, filter:true, indirectSelection:false}",  
          :store=>"psites", 
          :clientSort=>"true", 
          :style=>"float:left;width:900px;", 
          :selectionMode=>"none", 
          :jsId=>"SiteDisplayGrid", 
          :id=>"SiteDisplayGrid"}
    -#:rowSelector=>"20px", 
    %script{:type => "dojo/method", :event => "onRowDblClick", :args => "evt"}
      :plain
        //WAS OPEN SITE DETAIL (no longer needed)
        //var item = this.getItem(evt.rowIndex);
        //window.location += '/sites/'+item.id;
    %script{:type => "dojo/method", :event => "onSelected", :args => "idx"}
      :plain
        //var map = dijit.byId(@project);
        //var map = getElementById('#{@project.id}');
        
        //var projPane = dijit.byId("overview");
        //var tabs = dijit.byId('tab_browser');
        //tabs.selectChild(project);
        //var item = this.getItem(idx);
        //pmarkers[item.idx].pop();
        //pmarkers[item.idx].selsite();
    %thead
      %tr
        %th{:field=>"id", :width=>"65px", :filterable=>false, :formatter=>'edit_formatter'} View/Edit
        %th{:field=>"name", :width=>"auto", :filterable=>true} Name
        %th{:field=>"id", :width=>"55px", :filterable=>true} Site ID
        %th{:field=>"code", :width=>"140px", :filterable=>true} Code
        %th{:field=>"state", :width=>"70px", :filterable=>true} State
        %th{:field=>"data_vars", :width=>"55px", :filterable=>true} Vars
        %th{:field=>"data_count", :width=>"65px", :filterable=>true} Data
        %th{:field=>"data_start", :width=>"75px", :filterable=>true} Starting
        %th{:field=>"data_end", :width=>"75px", :filterable=>true} Ending
        -#%th{:field=>"latitude", :width=>"100px", :filterable=>true} Lat
        -#%th{:field=>"longitude", :width=>"100px", :filterable=>true} Long
  = clear_break
  -#%p{:style=>'font-size:10px;margin-top:5px;'}
  -#  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  -#  (double-click above for Site details)
  -#= clear_break

-#.data-browser
-##content-sidebar-left
-#= render_cell(:site_browser, :display, :project => resource)
-#= render(:partial => 'site_streams_picker', :locals => { :project => @project })  
-##main-with-sidebar-left
-# #graph-accordion
-# %h3
-# %a{:href=>"#"}
-# Graph
-# .data-graph
-# = render(:partial => 'graph',:locals => {:data => @current_data, :labels => @label_array, :project => @project, :class_name => 'data-graph' })
-# .data-table                                            
-# = render(:partial => 'data_table', :locals => { :data => @current_data, :labels => @label_array,:project => @project, :class_name => 'data-table' })  
  
= clear_break

#hidden-cells-and-partial
  -#=render_cell(:add_site, :display_form, :site => @site, :project => @project)

:javascript
  (function(){
    var openSiteTab = function(tabs, siteId, editMode) {
      //var sitePane = new voeis.ui.SitePane();
      //console.log('>>>'+is_tab00(siteId));
      if(is_tab00(siteId)) {
        var sitePane = dijit.byNode(dojo.byId('site'+siteId));
        //console.log('set tab to >>> '+sitePane);
      } else {
        var sitePane = new voeis.ui.SitePane2();
        sitePane.setSite(get_site(siteId));
        sitePane.editMode = editMode || false;
        tabs.addChild(sitePane);
      };
      tabs.selectChild(sitePane);
    };

    var openTab = function(tabs, pane) {
      tabs.addChild(pane);
      tabs.selectChild(pane);
    };

    var openSitesGridTab = function(tabs, projectId) {
      var sitesGrid = new dojox.grid.EnhancedGrid({
        title: projectId,
        closable: true,
        store: voeis.Server.DEFAULT.projectSitesDataStore(projectId),
        structure: [
          {field: 'name', name: "Site", width: "auto"},
          {field: 'state', name: "State", width: "auto"}
        ]
      });

      tabs.addChild(sitesGrid);
      tabs.selectChild(sitesGrid);
    };

    dojo.subscribe("voeis/project/site/select", function(siteId) {
      console.log(arguments);
      var tabs = dijit.byId('tab_browser');
      openSiteTab(tabs, siteId, false);
    });

    dojo.subscribe("voeis/project/site/edit", function(siteId) {
      console.log(arguments);
      var tabs = dijit.byId('tab_browser');    
      openSiteTab(tabs, siteId, true);
    });

    dojo.subscribe("voeis/project/site/pop", function(siteId) {
      console.log(arguments);
      var site = get_site(siteId);
      var projPane = dijit.byId("overview");
      var tabs = dijit.byId('tab_browser');
      tabs.selectChild(projPane);
      pmarkers[site.idx].pop();
      pmarkers[site.idx].selsite();
    });

    dojo.subscribe("voeis/project/browse", function(projectId) {
      var projectId = "#{@project.id}";
      var tabs = dijit.byId('tab_browser');
      //openSitesGridTab(tabs, projectId);
      var grid = voeis.ui.ProjectSitesGrid(projectId);
      tabs.addChild(grid);
      tabs.selectChild(grid);
    });
  })();

