- content_for(:stylesheets) do
  = stylesheet_link_tag("/javascripts/dojox/grid/enhanced/resources/EnhancedGrid.css")
  = stylesheet_link_tag("/javascripts/dojox/grid/enhanced/resources/claro/EnhancedGrid.css")

= javascript_include_tag("http://maps.google.com/maps/api/js?sensor=false")
= javascript_include_tag("jquery.flot.js")

- content_for(:javascripts) do
  :javascript
    dojo.require("dijit.dijit");
    dojo.require("dijit.Declaration");
    dojo.require("dijit.Dialog");
    dojo.require("dijit.form.Form");
    dojo.require("dijit.form.TextBox");
    dojo.require("dijit.form.Button");
    dojo.require("dijit.form.ValidationTextBox");
    dojo.require("dijit.Tooltip");
    dojo.require("dijit.layout.TabContainer");
    dojo.require("dijit.layout.ContentPane");
    dojo.require("dojox.layout.ContentPane");
    dojo.require("dojox.grid.EnhancedGrid");
    dojo.require("dojox.grid.enhanced.plugins.NestedSorting");
    dojo.require("dojox.grid.enhanced.plugins.Filter");
    dojo.require("dojo.data.ItemFileReadStore");
    dojo.require("dojo.data.ItemFileWriteStore");
    dojo.require("dojox.grid.enhanced.plugins.IndirectSelection");
    dojo.require("dojo.parser");
    dojo.require("voeis.Server");
    dojo.require("voeis.ui.SitePane2");

    var projectsDataStore = voeis.Server.DEFAULT.projectsDataStore();
    var projectStore = dojo.store.JsonRest({target: "#{root_url}projects.json?"});
    //var Sitestore = voeis.Server.DEFAULT.projectSitesDataStore('#{@project.id}');
    //var item = projectStore.get('id=#{@project.id}');
    //dojo.addOnLoad(function(){
    //  dijit.byId('split_map').store.add(item.results[0][0]);
    //});
    
    var pane_proto00;
    var pnow = '#{@today}';
    var puser = '#{@current_user.nil? ? "" : @current_user.name}';
    
    var pmap;
    var pmarkers = [];
    var icon_red = 'http://www.google.com/intl/en_us/mapfiles/ms/icons/red-dot.png';
    var icon_blue = 'http://www.google.com/intl/en_us/mapfiles/ms/icons/blue-dot.png';
    var icon_default = icon_red;
    var icon_pop = icon_blue;
    var site_data = [
      #{@sites.map{|site| "        "+site.to_json}.join(",\n")}
    ];
    var site_ref_data = [
      #{@site_ref.map{|site| "        "+site.to_json}.join(",\n")}
    ];
    var site_stat_data = [
      #{@site_stats.map{|site| "        "+site.to_json}.join(",\n")}
    ];
    var site_var_data = [
      #{@site_var_stats.map{|site| "        "+site.to_json}.join(",\n")}
    ];
    var site_samp_data = [
      #{@site_samps.map{|site| "        "+site.to_json}.join(",\n")}
    ];
    var site_properties = [
      #{@site_properties.map{|prop| "       "+prop.to_json}.join(",\n")}
    ];
	  
    for(var i=0;i<site_data.length;i++) {
      site_data[i]['idx'] = i;
      site_data[i]['data_vars'] = site_stat_data[i].vars;
      site_data[i]['data_count'] = site_stat_data[i].count;
      site_data[i]['data_start'] = site_stat_data[i].first;
      site_data[i]['data_end'] = site_stat_data[i].last;
      //site_data[i]['lat_long_datum'] = '-unknow-';
      for(prop in site_ref_data[i])
        site_data[i][prop] = site_ref_data[i][prop];
      //site_data[i]['vertical_datum'] = site_ref_data[i].vert_datum;
      //site_data[i]['local_projection'] = site_ref_data[i].local_proj;
    };
    var psites_json = {
      identifier: 'id',
      label: 'name',
      items: site_data };

    var psites = new dojo.data.ItemFileWriteStore({
      data: psites_json
    });
        
    function edit_formatter(id) {
      var link = '<a href="javascript:" onclick="dojo.publish(\'voeis/project/site/pop\', ['+id+']);"><img src="/images/icons/blue-dot16.png" alt="MAP site" title="MAP" /></a>';
      //var vlink = '<a href="javascript:" onclick="dojo.publish(\'voeis/project/site/select\', ['+id+']);"><img src="/images/icons/view.gif" alt="VIEW site" title="VIEW" /></a>';
      //var edlink = '<a href="javascript:" onclick="dojo.publish(\'voeis/project/site/edit\', ['+id+']);"><img src="/images/icons/edit16.png" alt="EDIT site" title="EDIT" /></a>';
      //return link+'&nbsp;&nbsp;'+vlink;
      return link;
    }
    
    function get_site(siteId) {
      //for(var i=0;i<site_data.length;i++) 
      //  if(site_data[i].id==siteId) 
      //    return site_data[i];
      console.log('GET-SITE-ID: '+siteId);
      var site = {};
      psites.fetch({query: {id: siteId},
        onItem: function(item) {
          //site = $.extend({},item);
          //site = item;
          for(prop in item) 
            site[prop] = item[prop].toString();
        },
        onError: function(error,request) {
          console.log('ERROR: '+error);
          //site = false;
        }
      });
      return site;
    }
    
    function pmap_clear(siteId) {
      //CLEAR A MAP BALLOON
      //OR ALL IF NO SITEID
      for(var i=0;i<pmarkers.length;i++) {
        if(pmarkers[i].window.close && (!siteId || pmarkers[i].id!=parseInt(siteId))) {
          pmarkers[i].window.close();
          pmarkers[i].setIcon(icon_default);
        }
      };
      var grid = dijit.byId('project_sites');
      grid.selection.clear();
    }
    
    function pmap_new(siteId) {
      //ADD NEW MAP MARKER
      var item = get_site(siteId);
      pmap_add_item(item);
    }
    
    function pmap_add_item(item) {
      //ADD ITEM MARKER TO MAP
      var site_name = item.name.toString();
      var point = new google.maps.LatLng(item.latitude, item.longitude);
      var marker = new google.maps.Marker({map:pmap, position:point, icon:icon_default, title:site_name});
      //##var link = '<a href="'+(window.location+'/sites/'+item.id)+'"><strong>'+item.name+'</strong></a>';
      //##var link2 = '<a href="'+(window.location+'/sites/'+item.id)+'"><strong>SITE DETAILS HERE</strong></a>';
      //##var edlink = '<a href="'+(window.location+'/sites/'+item.id)+'/edit/"><strong>EDIT SITE HERE</strong></a>';
      //##var link = '<a href="javascript:" onclick="dojo.publish(\'voeis/project/site/select\', ['+item.id+']);"><strong>'+item.name+'</strong></a>';
      //##var link2 = '<a href="javascript:" onclick="dojo.publish(\'voeis/project/site/select\', ['+item.id+']);"><strong>SITE DETAILS HERE</strong></a>';
      //##var edlink = '<a href="javascript:" onclick="dojo.publish(\'voeis/project/site/edit\', ['+item.id+']);"><strong>EDIT SITE HERE</strong></a>';
      //var link = '<a href="javascript:" onclick="dojo.publish(\'voeis/project/site/select\', ['+item.id+']);">';
      marker.idx = item.idx;
      //marker.idx = markers.length;
      marker.id = parseInt(item.id);
      marker.getSite = function(id) {
        //GET SITE FROM STORE
        var siteId = parseInt(id || this.id);
        console.log('GET-SITEID:',siteId);
        var site = get_site(siteId);
        return site;
      };
      marker.getInfo = function() {
        var item = this.getSite();
        var stats = site_stat_data[this.idx];
        console.log('SITE:',item)
        var link = '<a href="javascript:" onclick="dojo.publish(\'voeis/project/site/select\', ['+item.id+']);">';
        var info = '<p style="margin:0 15px;">';
        info += link+'<strong>'+item.name+'</strong></a><br/>&nbsp;&nbsp;&nbsp;';
        info += '(click for '+link+'<strong>SITE DETAILS</strong></a>)<br/>';
        info += '&nbsp;&nbsp; <strong>Code:</strong> '+item.code+'<br/>';
        info += '&nbsp;&nbsp; <strong>Site ID:</strong> '+item.id+'&nbsp;&nbsp;';
        info += '&nbsp;&nbsp; <strong>State:</strong> '+item.state+'<br/>';
        info += '&nbsp;&nbsp; <strong>Lat/Long:</strong> '+item.latitude+', '+item.longitude;
        info += '<br/>&nbsp;&nbsp; <strong>Variables:</strong> '+stats.vars+' &mdash; ';
        info += '<strong>Data collected:</strong> '+stats.count+'<br/>';
        info += '&nbsp;&nbsp; <strong>Starting:</strong> '+stats.first;
        info += ' &mdash; <strong>Ending:</strong> '+stats.last+'<br/>';
        //info += item.code+'<br/>Elevation: '+item.elevation_m+'<br/>'
        //info += item.county+', '+item.state+'</p>';
        info += '</p>';
        return info;
      };
      marker.window = {};
      marker.pop = function() {
        // this.setIcon(); this.getIcon();
        //var tabs = dijit.byId('tab_browser');
        //tabs.selectChild("#{@project.id}");
        pmap_clear();
        this.setIcon(icon_pop);
        this.window = new google.maps.InfoWindow({content:marker.getInfo()});
        this.window.open(pmap,this);
      };
      marker.selsite = function() {
        // click site table
        //var item = site_data[this.idx];
        var item = marker.getSite();
        var grid = dijit.byId('project_sites');
        var col = grid.layout.cells[0];
        for(var i=0; i<grid.rowCount; i++)
          if(item.id==grid.getItem(i).id) {
            grid.scrollToRow(i);
            grid.focus.setFocusCell(col,i);
            grid.focus.focusGrid();
            break;
          };
      };
      marker.seltable = function() {
        // click SiteDisplayGrid
        //var map = dijit.byId("overview");
        //var tabs = dijit.byId('tab_browser');
        //tabs.selectChild(map);
        //tabs.selectChild("#{@project.id}");
        //var item = site_data[this.idx];
        var item = marker.getSite();
        var grid = dijit.byId('SiteDisplayGrid');
        var col = grid.layout.cells[1];
        grid.selection.clear();
        //grid.selection.addToSelection(item);
        for(var i=0; i<grid.rowCount; i++)
          if(item.id==grid.getItem(i).id) {
            grid.scrollToRow(i);
            grid.focus.setFocusCell(col,i);
            grid.focus.focusGrid();
            break;
          };
        grid.selection.addToSelection(item);
      };
      marker.click = function(){
        this.selsite();
        //this.seltable();
        this.pop();
      };
      google.maps.event.addListener(marker, 'click', marker.click);
      pmarkers.push(marker);
    };

    function pmap_init() {
      var map_opts = {
        scaleControl: true, 
        zoomControl: true, 
        mapTypeControl: true, 
        scrollwheel: true, 
        mapTypeId: google.maps.MapTypeId.SATELLITE, 
        center: new google.maps.LatLng(46.739861,-110.786133), 
        zoom: 4};
      pmap = new google.maps.Map(document.getElementById("#{@project.id}"), map_opts);
      var bounds = new google.maps.LatLngBounds();
      for(var i=0;i<site_data.length;i++) {
        var item = site_data[i];
        var point = new google.maps.LatLng(item.latitude, item.longitude);
        pmap_add_item(item);
        bounds.extend(point);
      };
      pmap.fitBounds(bounds);
    };

    dojo.addOnLoad(function(){
      //dojo.byId('SiteDisplayGrid').canSort = function(col,field){ return false; };
    });
    
    function pre_dojo_parse() {
      //PRE DOJO PARSE STUFF HERE
      console.log('PRE-PARSE!');
      pane_proto00 = $('#site_pane_proto').html();
    };
    
    function post_dojo_parse() {
      //POST DOJO PARSE STUFF HERE
      //console.log('POST-PARSE!');
      
      //### DESTROY DOJO WIDGETS FOR TAB PROTO
      //var proto = dojo.byId('site_pane_proto');
      //dojo.forEach(dijit.findWidgets(proto), function(w){
      //  w.destroyRecursive(true);
      //});
      //console.log('PURGING WIDGETS??');
      $('#site_pane_proto').find('*').each(function(idx){
        //console.log('EleID: '+this.id);
        var wid = dijit.byNode(this);
        if(wid) wid.destroyRecursive();
        wid = dijit.byId(this.id);
        if(wid) wid.destroyRecursive();
      });
      
    };
    
    $(window).ready(function(){ 
      console.log('DONE LOADING!!');
      pmap_init();

      //dojo.parser.parse();
      //dijit.byId('SiteDisplayGrid').canSort = function(col,field){ return (col>1 && field=='name'); };
      //dijit.byId('SiteDisplayGrid').canSort = function(col,field){ return false; };
      
      //### DESTROY DOJO WIDGETS FOR TAB PROTO
      //var proto = dojo.byId('site_pane_proto');
      //dojo.forEach(dijit.findWidgets(proto), function(w){
      //  w.destroyRecursive(true);
      //});
      /*### COMMENTED OUT
      console.log('STILL DONE LOADING!!!');
      console.log('PURGING WIDGETS??');
      pane_proto00 = $('#site_pane_proto').html();
      $('#site_pane_proto').find('*').each(function(idx){
        console.log('EleID: '+this.id);
        var wid = dijit.byNode(this);
        if(wid) wid.destroy();
        wid = dijit.byId(this.id);
        if(wid) wid.destroy();
      });
      $('#site_pane_proto').find('*').each(function(i){ if(dijit.byNode(this)) console.log('NODE: '+this.id); if(dijit.byId(this.id)) console.log('WIDGET: '+this.id); })
      */

    });
    
-#{@sites_data.each_with_index{|data,idx| "    site_data[%s].stats = %s;"%[idx,data.to_json]}.join("\n")}
    
- content_for(:toolbar) do
  -##dataButton{:dojoType => "dijit.form.DropDownButton"}
  -#  %span{:style => "font-weight:bold"}
  -#    TESTING
  -#  %div{:dojoType => "dijit.Menu"}
  -#    = link_to("TEST-STORE", "javascript:", :dojoType => "yogo.ui.MenuLink", :onclick=>"dojo.publish('voeis/project/site/test');")

  -##projectButton{:dojoType => "dijit.form.DropDownButton", :iconClass => "project-icon-25"}
  -#  %span 
  -#    = @project.name
  -#  %div{:dojoType => "dijit.Menu"}                    
  -#    = link_to("Overview", "#", :dojoType => "yogo.ui.MenuLink", :onclick=>"dijit.byId('overview_dialog').show();return false;")
  -#    -#-if !current_user.nil? && current_user.projects.include?(@project)
  -#    -#  = link_to("Add Site", new_project_site_path(@project), :dojoType => "yogo.ui.MenuLink")
  -#    - if @sites.count > 0
  -#      -#= link_to("Add Variable", new_project_variable_path(@project), :dojoType => "yogo.ui.MenuLink")
  -#      -#= link_to("Add Unit", new_project_unit_path(@project), :dojoType => "yogo.ui.MenuLink")
  -#      = link_to("Add Sample", new_project_sample_path(@project), :dojoType => "yogo.ui.MenuLink")
  -#      -#= link_to("Upload Sample Data", @project.id.to_s+"/data_values/pre_process_sample_file_upload", :dojoType => "yogo.ui.MenuLink")
  -#      = link_to("Add Data Stream", new_project_data_stream_path(@project), :params => {:project_id => @project.id}, :dojoType => "yogo.ui.MenuLink")
  -#      
  -#    - if @project.managed_repository { Voeis::Sample.all.count } > 0
  -#      = link_to("Add Sample Data", pre_process_samples_file_upload_project_data_values_path(@project), :dojoType => "yogo.ui.MenuLink")
  -#      = link_to("Add Field Data", new_field_measurement_project_sensor_values_path(@project), :params => {:project_id => @project.id}, :dojoType => "yogo.ui.MenuLink")
  -#    - if @project.managed_repository { Voeis::DataStream.all.count } > 0
  -#      = link_to("Add Data", add_project_data_streams_path(@project), :params => {:project_id => @project.id}, :dojoType => "yogo.ui.MenuLink")
  -#    = link_to("Settings...", edit_project_path(@project), :dojoType => "yogo.ui.MenuLink")

  -##dataButton{:dojoType => "dijit.form.DropDownButton"}
  -#  %span{:style => "font-weight:bold"}
  -#    Project Data
  -#  %div{:dojoType => "dijit.Menu"}
  -#    -#= link_to("Browse", campaigns_path, :dojoType => "yogo.ui.MenuLink")
  -#    = link_to("Browse Data Streams", query_project_data_streams_path(@project), :dojoType => "yogo.ui.MenuLink")
  -#    = link_to("Browse Sample Data", query_project_samples_path(@project), :dojoType => "yogo.ui.MenuLink")
  -#    -if !current_user.nil?
  -#      = link_to("Search", campaigns_path, :dojoType => "yogo.ui.MenuLink")
  -#      %div{:dojoType=>"dijit.MenuSeparator"}
  -#      %div{:dojoType=>"dijit.PopupMenuItem"}
  -#        %span My Saved Searches
  -#        %div{:dojoType=>"dijit.Menu", :id=>"dataSubMenu"}
  -#          = render_cell(:data_menu, :display, :current_user => current_user)


#overview_dialog{:dojoType=>"dijit.Dialog", :disableCloseButton=>true, :title=>"Project Overview", :style=>"width:640px;"}
  - if @project.description && @project.description.length > 0
    = @project.description
  - else
    = link_to('[Add Project Description]', edit_project_path(@project))

#site_pane_proto{:style=>"display:none;"}
  = render_widget :site_pane2, :display, :project=>@project, 
                                          :sites=>@sites, 
                                          :projectSite=>@site, 
                                          :siteProperties=>@site_properties,
                                          :user=>current_user,
                                          :root_url=>root_url

-#site_store{:dojoType=>"dojo.data.ItemFileReadStore", :jsId=>"psites", :data=>"psites_json"}

            
#content-title{:style=>"margin:0;margin-bottom:0;padding:0;"} 
  %a{:href=>"javascript:", :onclick=>"dijit.byId('overview_dialog').show();return false;", 
      :title=>"click for overview",
      :style=>"margin:0;padding:0;"}
    - if @project.is_private == true
      %span.icon.icon-private{:style=>"padding:0;"}
        = @project.name
    - else
      %span.icon{:style=>"padding:0;"}
        = @project.name
    %span{:style=>"font-size:10px;"}
      &nbsp;&nbsp; (click for Project Overview)
  -#&nbsp;&nbsp;&nbsp;&nbsp;
  -#&nbsp;&nbsp;&nbsp;&nbsp;
  -#%strong
  -#  = link_to("TEST-STORE", "javascript:", :onclick=>"dojo.publish('voeis/project/siteTables/test');")


= clear_break

-#tab_browser{:dojoType=>"dijit.layout.TabContainer", :style=>"width:905px;height:540px;margin-top:0;padding-top:0;"}
#tab_browser{:dojoType=>"dijit.layout.TabContainer", :style=>"width:905px;height:540px;margin-top:0;padding-top:0;", :prop=>"parseOnLoad:true"}
  #overview{:dojoType=>"dijit.layout.ContentPane", :title=>"Project", :style=>"margin:0;padding:0;", :selected=>true}
    .show-map{:style=>"float:left;width:700px;height:500px;margin:0;padding:0;", :id=>@project.id}
    -#.show-map{:style=>"float:left;width:700px;height:500px;margin:0;padding:0;", :id=>@project.id}
    -#= render(:partial => 'overview_map', :locals => { :project => @project,
    -#                                                  :sites => @sites,
    -#                                                  :class_name => 'show-map' } )
    %table{:id=>'project_sites', :dojoType=>"dojox.grid.EnhancedGrid", :store=>"psites", :autoWidth=>"false",
            :style=>"width:200px;height:500px;float:left;margin:0;padding:0;cursor:pointer;"}
      -#:style=>"width:200px;height:500px;float:left;margin:0;padding:0;cursor:pointer;"}
      %script{:type => "dojo/method", :event => "onSelected", :args => "idx"}
        :plain
          //var map = dijit.byId(@project);
          //var map = getElementById('#{@project.id}');
          var item = this.getItem(idx);
          pmarkers[item.idx].pop();
          //pmarkers[item.idx].seltable();
      %thead
        %tr
          %th{:field => "name", :width => "auto"} Site
    = clear_break

  %table{:dojoType=>"dojox.grid.EnhancedGrid", :title=>"Data Summary", 
          :plugins=> "{nestedSorting:false, filter:true, indirectSelection:false}",  
          :store=>"psites", 
          :clientSort=>"true", 
          :sortInfo=>"2",
          :style=>"float:left;width:900px;", 
          :jsId=>"SiteDisplayGrid", 
          :id=>"SiteDisplayGrid"}
    -#:rowSelector=>"20px", 
    -#:selectionMode=>"none", 
    %script{:type => "dojo/method", :event => "onRowDblClick", :args => "evt"}
      :plain
        //WAS OPEN SITE DETAIL (no longer needed)
        //var item = this.getItem(evt.rowIndex);
        //window.location += '/sites/'+item.id;
    %script{:type => "dojo/method", :event => "onSelected", :args => "idx"}
      :plain
        //var map = dijit.byId(@project);
        //var map = getElementById('#{@project.id}');
        var item = this.getItem(idx);
        var projPane = dijit.byId("overview");
        var tabs = dijit.byId('tab_browser');
        console.log('TAB: '+tabs.selectedChildWidget.id);
        this.selection.clear();
        if(tabs.selectedChildWidget.id=='overview') return
        //tabs.selectChild(project);
        dojo.publish('voeis/project/site/select', item.id);
        //tabs.selectChild(project);
        //pmarkers[item.idx].pop();
        //pmarkers[item.idx].selsite();
    %thead
      %tr
        %th{:field=>"id", :width=>"45px", :filterable=>false, :formatter=>'edit_formatter'} Map
        %th{:field=>"name", :width=>"auto", :filterable=>true} Name
        %th{:field=>"id", :width=>"55px", :filterable=>true} ID
        %th{:field=>"code", :width=>"autopx", :filterable=>true} Code
        %th{:field=>"state", :width=>"70px", :filterable=>true} State
        %th{:field=>"data_vars", :width=>"55px", :filterable=>true} Vars
        %th{:field=>"data_count", :width=>"65px", :filterable=>true} Data
        %th{:field=>"data_start", :width=>"75px", :filterable=>true} Starting
        %th{:field=>"data_end", :width=>"75px", :filterable=>true} Ending
        -#%th{:field=>"latitude", :width=>"100px", :filterable=>true} Lat
        -#%th{:field=>"longitude", :width=>"100px", :filterable=>true} Long
  = clear_break
  -#%p{:style=>'font-size:10px;margin-top:5px;'}
  -#  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  -#  (double-click above for Site details)
  -#= clear_break

-#.data-browser
-##content-sidebar-left
-#= render_cell(:site_browser, :display, :project => resource)
-#= render(:partial => 'site_streams_picker', :locals => { :project => @project })  
-##main-with-sidebar-left
-# #graph-accordion
-# %h3
-# %a{:href=>"#"}
-# Graph
-# .data-graph
-# = render(:partial => 'graph',:locals => {:data => @current_data, :labels => @label_array, :project => @project, :class_name => 'data-graph' })
-# .data-table                                            
-# = render(:partial => 'data_table', :locals => { :data => @current_data, :labels => @label_array,:project => @project, :class_name => 'data-table' })  
  
= clear_break

#hidden-cells-and-partial
  -#=render_cell(:add_site, :display_form, :site => @site, :project => @project)

:javascript
  (function(){
    //###############
    
    TEST = 'TESTING--';
    
    //###############
    var openSiteTab = function(tabs, siteId, editMode) {
      //###SCROLL TO TOP
      //window.scrollTo(0,0);
      $('html #main_container').animate({scrollTop:0}, 'slow');//IE, FF
      $('body #main_container').animate({scrollTop:0}, 'slow');//chrome, don't know if safary works
      //var sitePane = new voeis.ui.SitePane();
      //console.log('>>>'+is_tab00(siteId));
      var sitePane = dojo.byId('site'+siteId);
      console.log('site'+siteId, sitePane);
      if(sitePane) {
        sitePane = dijit.byNode(sitePane);
      } else {
        sitePane = new voeis.ui.SitePane2();
        //sitePane.setSite(get_site(siteId));
        sitePane.setSite(siteId);
        //sitePane.editMode = editMode || false;
        tabs.addChild(sitePane);
        //console.log(sitePane);
      };
      tabs.selectChild(sitePane);
    };

    var openVarTab = function(tabs, projectId, varId, varName, siteId) {
      //var varPane = new voeis.ui.VariablePane();
      var projVarId = '#{@project.id}-var'+varId;
      var projVarHref = "/projects/#{@project.id}/variables/"+varId+".html?&site_id="+siteId;
      //href: voeis.Server.DEFAULT.project_variable_path(projectId,varId)});
      //projectSitePath(this.projectId, this.siteId)
      var projVarLoad = function(varId,varName) {
        graphInit(varId,varName);
      };
      openProjTab(tabs, projVarHref, projVarId, varName, projVarLoad);
      //##
    };

    var openSampTab = function(tabs, projectId, sampId, sampName) {
      //var varPane = new voeis.ui.VariablePane();
      var projSampId = '#{@project.id}-samp'+sampId;
      var projSampHref = "/projects/#{@project.id}/samples/"+sampId+".html";
      //href: voeis.Server.DEFAULT.project_variable_path(projectId,varId)});
      //projectSitePath(this.projectId, this.siteId)
      var projSampLoad = function(varId,varName) {
      };
      openProjTab(tabs, projSampHref, projSampId, sampName, projSampLoad);
      //##
    };

    var openProjTab = function(tabs, tabHref, tabId, tabTitle, tabLoad) {
      //###SCROLL TO TOP
      //window.scrollTo(0,0);
      $('html #main_container').animate({scrollTop:0}, 'slow');//IE, FF
      $('body #main_container').animate({scrollTop:0}, 'slow');//chrome, don't know if safary works
      //var varPane = new voeis.ui.VariablePane();
      var tabPane = dojo.byId(tabId);
      if(tabPane) {
        tabPane = dijit.byNode(tabPane);
      } else {
        tabPane = new dojox.layout.ContentPane({
          id: tabId,
          title: tabTitle,
          closable: true,
        	executeScripts: true,
      	  ioArgs: { headers: {"Accept": "text/html"} },
          store: voeis.Server.DEFAULT,
          onDownloadEnd: function(){
            console.log('tab-load-done-NOW: ');
            console.log('TEST-'+TEST);
            tabLoad();
          },
          href: tabHref});
        tabs.addChild(tabPane);
      };
      tabs.selectChild(tabPane);
    };

    var openTab = function(tabs, pane) {
      tabs.addChild(pane);
      tabs.selectChild(pane);
    };

    var openSitesGridTab = function(tabs, projectId) {
      var sitesGrid = new dojox.grid.EnhancedGrid({
        title: projectId,
        closable: true,
        store: voeis.Server.DEFAULT.projectSitesDataStore(projectId),
        structure: [
          {field: 'name', name: "Site", width: "auto"},
          {field: 'state', name: "State", width: "auto"}
        ]
      });

      tabs.addChild(sitesGrid);
      tabs.selectChild(sitesGrid);
    };

    //#############

    dojo.subscribe("voeis/project/siteTables/test", function() {
      console.log('TABLES TEST');
      var tabs = dijit.byId('tab_browser');
      var table0 = dijit.byId('project_sites');
      var table1 = dijit.byId('SiteDisplayGrid');
      var lastId = 0;
      
      psites.fetch({query: {},
        count: 1, sort: [{attribute: 'id', descending: true}],
        onItem: function(item) {
          lastId = parseInt(psites.getValue(item, 'id'));
          //siteName += '-TESTING!!!';
          //psites.setValue(item, 'name', siteName);
        }
      });
      console.log('LAST-ID:',lastId);
      lastId++;
      
      try {
      psites.newItem({
        id:''+lastId,
        name:'This is a TEST--'+lastId,
        code:'this-is-a-test-1234567-'+lastId,
        latitude:'45.2698',
        longitude:'-111.2788',
        lat_long_datum_id:'',
        elevation_m:'12',
        vertical_datum_id:'',
        local_x:'',
        local_y:'',
        local_projection_id:'',
        pos_accuracy_m:'',
        state:'Montana',
        county:'Gallatin',
        comments:'this is a test... on ID:'+lastId,
        description:'',
      });
      }
      catch (e) { 
        console.log('ERROR: DUPLICATE KEY')
      };
      
      //psites.data = psites_json;
      //psites.close();
      //table0.render();
      //table1.render();
    });

    dojo.subscribe("voeis/project/map/clear", function(siteId) {
      console.log('CLEAR MAP');
      pmap_clear(siteId);
    });

    dojo.subscribe("voeis/project/map/new", function(siteId) {
      console.log('NEW MAP MARKER');
      pmap_new(siteId);
    });

    dojo.subscribe("voeis/project/site/close", function(siteId) {
      console.log('CLOSE SITE TAB:',siteId);
      var tabs = dijit.byId('tab_browser');
      var sitePane = dojo.byId('site'+siteId);
      if(sitePane) {
        sitePane = dijit.byNode(sitePane);
        tabs.removeChild(sitePane);
        sitePane.onClose();
        sitePane.destroyRecursive();  
        pmap_clear(siteId);
      };
    });

    dojo.subscribe("voeis/project/siteTables/refresh", function() {
      console.log('REFRESH TABLES');
      var tabs = dijit.byId('tab_browser');
      var table0 = dijit.byId('project_sites');
      var table1 = dijit.byId('SiteDisplayGrid');
      psites.data = psites_json;
      psites.close();
      //table0.render();
      //table1.render();
    });

    dojo.subscribe("voeis/project/siteTables/add", function(siteId,siteName,siteCode,siteState) {
      console.log('UPDATE TABLES NEW');
      var tabs = dijit.byId('tab_browser');
      var table0 = dijit.byId('project_sites');
      var table1 = dijit.byId('SiteDisplayGrid');
      //var psites = dijit.byId('psites');
      //psites
      //pmarkers
      psites.data = psites_json;
      psites.close();
    });

    dojo.subscribe("voeis/project/siteTables/update", function(siteId,siteName,siteCode,siteState) {
      console.log('UPDATE TABLES');
      var tabs = dijit.byId('tab_browser');
      var table0 = dijit.byId('project_sites');
      var table1 = dijit.byId('SiteDisplayGrid');
      
    });

    dojo.subscribe("voeis/project/site/new", function() {
      console.log('NEW SITE');
      var tabs = dijit.byId('tab_browser');
      openSiteTab(tabs, 0, false);
    });

    dojo.subscribe("voeis/project/site/select", function(siteId) {
      console.log(arguments);
      var tabs = dijit.byId('tab_browser');
      openSiteTab(tabs, siteId, false);
    });

    dojo.subscribe("voeis/project/site/edit", function(siteId) {
      console.log(arguments);
      var tabs = dijit.byId('tab_browser');    
      openSiteTab(tabs, siteId, true);
    });

    dojo.subscribe("voeis/project/site/pop", function(siteId) {
      console.log('SITE-POP',arguments);
      var site = get_site(siteId);
      var projPane = dijit.byId("overview");
      var tabs = dijit.byId('tab_browser');
      tabs.selectChild(projPane);
      pmarkers[site.idx].pop();
      pmarkers[site.idx].selsite();
    });

    dojo.subscribe("voeis/project/sample", function(sampId,sampName) {
      console.log('SAMPLE',arguments);
      var projectId = "#{@project.id}";
      var tabs = dijit.byId('tab_browser');
      openSampTab(tabs, projectId, sampId, sampName);
    });

    dojo.subscribe("voeis/project/variable", function(varId,varName,siteId) {
      console.log('VARIABLE',arguments);
      var projectId = "#{@project.id}";
      var tabs = dijit.byId('tab_browser');
      openVarTab(tabs, projectId, varId, varName, siteId);
    });

    dojo.subscribe("voeis/project/browse", function(projectId) {
      var projectId = "#{@project.id}";
      var tabs = dijit.byId('tab_browser');
      //openSitesGridTab(tabs, projectId);
      var grid = voeis.ui.ProjectSitesGrid(projectId);
      tabs.addChild(grid);
      tabs.selectChild(grid);
    });
  })();

