-# content_for(:javascripts) do
:javascript
  function createDataSet(){ 
    var els = dojo.byId("data_set_form").elements;
    var qstr = "name="+els.name.value+"&description="+els.description.value+"&type="+els.type.value+"&api_key=#{User.current.api_key}";
    //$.post("#{project_path(@project)}/apivs/create_project_data_set.json?"+qstr,
    $.post("#{root_url}projects/#{project_uid}/apivs/create_project_data_set.json?"+qstr,
    function(data) {
      $('#data_set_select').append($("<option></option>").attr("value",data['id']).text(els.name.value)); 
      $('#data_set_select').val(data['id']);
      dijit.byId("new_data_set").hide();
    });
  }
  dojo.require("dijit.Tooltip");

#new_data_set{:dojoType=>"dijit.Dialog", :title=>"New Data Set", :jsId=>"new_data_set"}
  %h3 Create a new Data Set:
  = form_for :data_set, :html=>{:dojoType=>"dijit.form.Form", :id=>"data_set_form"} do |f|
    %label Name:
    =clear_break    
    %input{:type=>"text", :name=>"name", :dojoType=>"dijit.form.ValidationTextBox", :size=>30,  :style=>"width:30em", :required=>"true", :invalidMessage=>"A DataSet Name is required."}
    =clear_break      
    =clear_break 
    %label Description:
    %br
    -#=f.text_area :description, :cols=> 30, :rows => 3
    %input{:type=>"text", :name=>"description", :size => 30, :style=>"width:30em",:dojoType=>"dijit.form.TextBox"}
    =clear_break
    =clear_break
    %label Type:
    %br
    %input{:type=>"text", :name=>"type", :size => 30, :style=>"width:30em",:dojoType=>"dijit.form.TextBox"}
    =clear_break
    =clear_break 
    %br
    %button{:dojoType=>"dijit.form.Button", :title=>'Create', :onClick=>"createDataSet();"}
      Create Data Set
      %script{:type=>"dojo/method", :event=>"startup"}
        :plain
          new_data_set.upd_select_id = false;
          new_data_set.setup = function(upd_select) {
            new_data_set.upd_select_id = upd_select;
            new_data_set.show();
          };
          var form = dijit.byId("data_set_form");
          // set initial state
          this.attr("disabled", !form.isValid());
          this.connect(form, "onValidStateChange", function(state){
            this.attr("disabled", !state);
          });
          //###ON-CLICK: SAVE
          this.connect(this, "onClick", function(){
            var els = dojo.byId("data_set_form").elements;
            var qstr = "name="+els.name.value+"&description="+els.description.value+"&type="+els.type.value+"&api_key=#{User.current.api_key}";
            //$.post("#{project_path(@project)}/apivs/create_project_data_set.json?"+qstr,
            $.post("#{root_url}projects/#{project_uid}/apivs/create_project_data_set.json?"+qstr,
            function(data) {
              if(new_data_set.upd_select_id) {
                $('#'+new_data_set.upd_select_id).append($("<option></option>").attr("value",data['id']).text(els.name.value)); 
                $('#'+new_data_set.upd_select_id).val(data['id']);
              };
              //$('#data_set_select').append($("<option></option>").attr("value",data['id']).text(els.name.value)); 
              //$('#data_set_select').val(data['id']);
              dijit.byId("new_data_set").hide();
            });
          });
    &nbsp;&nbsp;
    %button{:dojoType=>"dijit.form.Button", :title=>'Cancel', :onClick=>"new_data_set.hide();return false;"} Cancel
  %script{:type=>"dojo/method", :event=>"startup"}
    :plain
      var me = new_data_set;
      var form = dijit.byId("data_set_form");
      // set initial state
      this.attr("disabled", !form.isValid());
      this.connect(form, "onValidStateChange", function(state){
        this.attr("disabled", !state);
      });
