- siteId = @site.nil? ? 'site00' : 'site'+@site.id.to_s
- tabId = siteId+'_samples'
- dataId = tabId+'_data'

-#= javascript_include_tag("jquery.flot.js")
-# content_for(:javascripts) do
:javascript
  dojo.require("dijit.dijit");
  dojo.require("dijit.Declaration");
  dojo.require("dojox.layout.TableContainer");
  dojo.require("dijit.form.TextBox");
  dojo.require("dijit.layout.TabContainer");
  dojo.require("dijit.layout.ContentPane");
  dojo.require("dojox.layout.ContentPane");
  dojo.require("dojox.grid.EnhancedGrid");
  dojo.require("dojox.grid.enhanced.plugins.NestedSorting");
  dojo.require("dojox.grid.enhanced.plugins.Filter");
  dojo.require("dojo.data.ItemFileReadStore");
  //dojo.require("dojo.data.ItemFileWriteStore");
  
  console.log('### SAMPLES -TABID: #{tabId}');
  
  // Datastore
  var #{dataId} = {};
  
  #{dataId}.sample_data = [
    #{@samples.map{|samp| '{id: '+samp.id.to_s+
                          ',local_date_time: "'+samp.local_date_time.strftime('%Y-%m-%d %H:%M:%S')+
                          '",lab_sample_code: "'+samp.lab_sample_code+
                          '",sample_type: "'+samp.sample_type+
                          '",material: "'+samp.material+
                          '",data_values_count: '+samp.data_values.count.to_s+'}'
                          }.join(",\n")}
  ];
  
  #{dataId}.sample_store = new dojo.data.ItemFileReadStore({data: {identifier: 'id', items: #{dataId}.sample_data }});
  
  $(window).ready(function(){ 
    //##### 
    //console.log('READY-load-done-NOW');
    //FIX datagrid clipping issue...
    //cv_management_grid.sort();
    //cv_management_grid.update();
    console.log('READY- site-#{@site.nil? ? "00" : @site.id.to_s}')
    console.log('READY- site---#{@site_id.nil? ? " --" : @site_id.to_s}')
  });
    


-#%h3{:style=>"margin-top:0;padding-top:5px;padding-bottom:5px;", :class=>"icon icon-#{@global ? 'voeis' : 'project'}"}
%h3{:style=>"margin:0;"}
  - if !@project.nil?
    %span.small{:style=>"font-size:14px;"}
      EXISTING SAMPLES (#{@samples.count})
    - if !@site.nil?
      = ': %s [Id:%s]'%[@site.name,@site.id]
      
-#%br

-#%strong
-#  LIST SAMPLES (#{@samples.count})
-#&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
-#&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

-#= link_to('CREATE NEW', 'javascript:', :class=>'icon icon-add', :onclick=>"dojo.publish('voeis/cv_datum/new');")
-#= link_to('CREATE NEW', 'javascript:', :class=>'icon icon-add', :onclick=>"cv_datum_new();")
-# if !@copy_data.nil?
-#  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
-#  = link_to('COPY GLOBAL', 'javascript:', :class=>'icon icon-copy', :onclick=>"copy_dialog_box.show();")
-#&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
-#= link_to('REFRESH', 'javascript:', :class=>'icon icon-copy', :onclick=>"refreshTab('#{tabId}');") 
  
-#%br
%br

%table{:dojoType=>"dojox.grid.EnhancedGrid", 
        :plugins=> "{nestedSorting:false, filter:true, indirectSelection:false}",  
        :store=>"#{dataId}.sample_store", 
        :clientSort=>"true", 
        :sortInfo=>"-2",
        :style=>"width:90%;margin:0;padding:0;border:#E3EBF2 2px solid;", 
        :style=>"width:70%;height:80%"}
  -#:rowSelector=>"20px", 
  -#:selectionMode=>"none", 
  %script{:type => "dojo/method", :event => "onSelected", :args => "idx"}
    :plain
      //var map = dijit.byId(@project);
      //var map = getElementById('#{@project.id}');
      var item = this.getItem(idx);
      var projPane = dijit.byId("overview");
      var tabs = dijit.byId('tab_browser');
      console.log('TAB: '+tabs.selectedChildWidget.id);
      dojo.publish('voeis/project/sample', [parseInt(item.id.toString()),item.lab_sample_code.toString(),#{@site.nil? ? 1 : @site.id}]);
      //this.selection.clear();
      //if(tabs.selectedChildWidget.id=='overview') return
      //tabs.selectChild(project);
  %thead
    %tr
      %th{:field=>"lab_sample_code", :width=>"auto"} Lab Code
      %th{:field=>"local_date_time", :width=>"125px"} Date/Time
      %th{:field=>"sample_type", :width=>"20%"} Type
      %th{:field=>"material", :width=>"20%"} Medium
      %th{:field=>"data_values_count", :width=>"55px"} Values
      -#%th{:field=>"id", :width=>"55px", :filterable=>true} ID
      -#%th{:field=>"latitude", :width=>"100px", :filterable=>true} Lat
      -#%th{:field=>"longitude", :width=>"100px", :filterable=>true} Long

-#%br
-#%br
-#
-#%table{:id=>"sample-table", :style=>"width:70%;"} 
-#  %tr{:class=>"row-gr"}
-#    %th{:width=>"30%", :align=>"left"} &nbsp;&nbsp;&nbsp; Lab Code
-#    %th{:width=>"10%", :align=>"left"} Type
-#    %th{:width=>"14%"} Medium
-#    %th{:width=>"20%"} Timestamp
-#    %th{:width=>"20%"} Data Values
-#  - @samples.each do |samp|
-#    - unless samp.nil?
-#      %tr{:class=>cycle('row-lt1','row0')}
-#        %td{:style=>"width:30%;align:left;", :align=>"left"}
-#          %strong
-#            = link_to(samp.lab_sample_code, 'javascript:', :onclick=>"dojo.publish('voeis/project/sample', [#{samp.id},'#{samp.lab_sample_code}',#{@site.nil? ? 1 : @site.id}]);")
-#        %td{:style=>"width:10%;align:left;"}
-#          = samp.sample_type
-#        %td{:style=>"width:14%;align:center;"}
-#          = samp.material
-#        %td{:style=>"width:20%;align:center;"}
-#          = samp.local_date_time.strftime('%m/%d/%Y %H:%M:%S')
-#        %td{:style=>"width:20%;align:center;"}
-#          = samp.data_values.count


-#%div{:id=>"version_store_site#{@site.id}", :dojoType=>"dojo.data.ItemFileReadStore", :jsId=>"pversions_site#{@site.id}", :data=>"pversions_json_site#{@site.id}", :style=>"height:0;margin:0;padding:0;"}

-#cv_management_tabs{:dojoType=>"dijit.layout.TabContainer", :style=>"width:870px;height:360px;margin-top:10px;padding-top:0;", 
-#  :prop=>"parseOnLoad:true;", :tabPosition=>"top", :useSlider=>"true", :tabStrip=>"true"}
-#  -#:prop=>"parseOnLoad:true;", :tabPosition=>"left-h", :tabStrip=>"false"}
-#:selected=>"true", :useSlider=>"false", :tabStrip=>"false"}
-#:style=>"width:870px;height:400px;margin:0;padding:0;", :selected=>"true"}


%br{:style=>'float:none; clear:both;'}
%br


:javascript
  (function(){

  })();

