
- if @project.id.to_s == request.fullpath.gsub(/(\?.*$)/,'')[-(@project.id.to_s.length)..-1]
  - atroot = true
- else
  - atroot = false
- site_id = @site.nil? ? 0 : @site.id
-# tabId = @project.id.to_s+'-site'+site_id.to_s+'-data'
- tabId = 'site'+site_id.to_s+'_data'

:javascript
  function update_site_vars() {
    var site_id = #{site_id} || $('#site').val();
    var form_id = '##{tabId}_query ';
    console.log('SITE-ID:',site_id);
    $.get("#{site_sample_variables_project_samples_path}"+".json?site_id="+site_id,
      function(data) {
        console.log('VARS:',data);
        $(form_id+'#variable').empty();
        if (data.variables.length == 0){
          $(form_id+'#variable').append($("<option></option>").attr("value","None").text("None"));
        } else {  
          //$(form_id+'#variable').append($("<option></option>").attr("value","All").text("All"));
        };
        $(form_id+'#vars_count').text(data.variables.length.toString());
        var i = 0;
        for(i=0; i<data.variables.length; i++)
          $(form_id+'#variable').append($("<option></option>").attr("value",data.variables[i].id.toString()).text(data.variables[i].name));
        return false;
      }
    );
  };
  $(window).ready(function(){
    console.log('**LOADED**');
    console.log('TABID: #{tabId}');
    update_site_vars();
  });
  

- if site_id>0
  %h3{:style=>"margin-top:0;"}
    #{@site.name+': '}
    Search Data
- else
  %h2
    Search Data:
= form_for(:query, @query, :url => { :action=>'search'}, :remote=>true, :html=>{:id=>tabId+'_query'}) do |f|
  -#%input{:type=>"hidden", :name=>"tab_id", :value=>"#{tabId}"}
  =hidden_field_tag('tab_id', tabId)
  - if site_id>0
    -#%input{:type=>"hidden", :name=>"site", :value=>"#{site_id.to_s}"}
    =hidden_field_tag('site', site_id.to_s)
  - else
    Site: 
    = select_tag("site", @site_options.html_safe)
    = clear_break
    = clear_break
  Variable
  :plain
    (<span id="vars_count">0</span>):
  = select_tag("variable", @variable_opts.html_safe)
  = clear_break
  = clear_break
  Dates After: 
  = date_select('range', 'start_date', :start_year => @start_year, :end_year => @end_year, :order => [:month, :day, :year])
  Dates Before: 
  = date_select('range', 'end_date', :start_year => @start_year, :end_year => @end_year, :order => [:month, :day, :year])
  = clear_break
  = clear_break

  -#= f.submit('Search', :onclick => "dijit.byId('loading_dialog').show();")
  -#= link_to('Cancel', project_path(@project), :class => 'icon icon-cancel') 
  %button(dojoType="dijit.form.Button" type="submit" name="submit_form" value="Search" onclick="dijit.byId('#{tabId}_loading_dialog').show();") 
    Search
  
  &nbsp;&nbsp;
  %button(dojoType="dijit.form.Button" name="cancel" value="Cancel" onclick="window.location=#{project_path(@project)}") 
    Cancel
    %script{:type=>"dojo/method", :event=>"onClick"}
      :plain
        if(#{atroot}) {
          var tab_id = '#{tabId}';
          var this_pane = dojo.byId(tab_id);
          if(this_pane) this_pane = dijit.byNode(this_pane);
          var tabs = dijit.byId('tab_browser');
          tabs.removeChild(this_pane);
          this_pane.onClose();
          this_pane.destroyRecursive();  
          return
        };
        window.location='#{project_path(@project)}';
        
  
= clear_break

%div{:dojoType=>"dijit.Dialog", :disableCloseButton => true, :id=>"#{tabId}_loading_dialog", :title=>"Loading..."}
  #search-div-loader

%div{:id=>"#{tabId}_search_results"}
  :javascript  
    $(function() { 
    $("#site").change(function() { 
    update_site_vars();
    return false;
    });
    });
= render(:partial => "data_set", :locals =>{:project_uid=>@project_uid})