= javascript_include_tag("jquery.flot.js")
- content_for(:javascripts) do
  :javascript
    dojo.require("dijit.dijit");
    dojo.require("dijit.Declaration");
    dojo.require("dojox.layout.TableContainer");
    dojo.require("dijit.form.TextBox");
    
    $(window).ready(function(){ 
      //##### 
      console.log('TEST1');
    });


-#%br
%br

#samp-container
  -#%h3{:style=>"margin-top:0;"}
  -#  -if !@sample.nil?
  -#    %span.small{:style=>"font-size:14px;"}
  -#      SAMPLE DETAILS:
  -#    -if !@site.nil? 
  -#      #{@site.name}: 
  -#      [Sample: #{@sample.lab_sample_code}]
  -#    -else
  -#      #{@sample.lab_sample_code}
  -#  -else
  -#    UNKNOWN

  -#%strong
  -#  SAMPLE DETAILS
  -#%br
  %br

  #samp_properties

    -#%table{:id => "property-table", :style=>'width:400px;float:left;margin:0 25px 25px 0;'}
    %table{:id => "property-table", :style=>'width:45%;float:left;margin:0 25px 25px 0;'}
      -#%tr{:class=>"row#{cycle('1','0')}"}
      -#  %td{:style=>"text-align:right;"}
      -#    %strong
      -#      Project
      -#      &nbsp;&nbsp;&nbsp;
      -#  %td
      -#    #{@project.name}
      %tr{:class=>"row#{cycle('1','0')}"}
        %td{:style=>"text-align:right;"}
          %strong
            Site
            &nbsp;&nbsp;&nbsp;
        %td
          #{'%s [Id:%s]'%[@site.site_name,@site.id]}
      - @sample_properties.each do |prop|
        %tr{:class=>"row#{cycle('1','0')}"}
          %td{:style=>"text-align:right;"}
            %strong
              #{prop[:label]}
              &nbsp;&nbsp;&nbsp;
          %td
            #{@sample.nil? ? '-NONE-' : @sample[prop[:name]]}


    #data_values{:style=>"float:left;width:45%;"}
      %h4{:style=>"margin-top:0;"}
        Data Values
  
      %table{:id => "data-table", :style=>'float:left;'}
        - @sample.data_values.each do |value|
          %tr{:class=>"row-gr"}
            %td{:colspan=>"2"}
              %strong
                #{value.variable.variable_name}
                [#{value.variable.sample_medium}]
              %br
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              (#{value.variable.variable_code.to_s})
          %tr{:class=>"smfont"}
            %td{:style=>"width:150px;"}
              = value.local_date_time.iso8601.sub('T',' ')   ###strftime('%Y-%m-%d %H:%M:%S')
            %td{:style=>"text-align:left;"}
              %strong
                = value.data_value
              #{value.variable.variable_units.units_abbreviation}
              (#{value.variable.variable_units.units_type})
              [#{value.string_value}]
        
  
  
  -if @site && false
    %div{:id=> "graph" + @variable.id.to_s,:style=>"width:300px;height:150px;margin:0 0 25px 50px;float:left;"}
     
    %br
    %br
    
    -# COLLECTED DATA STATS
    -# COMMENTED OUT because lack of SITE ID to select
    - var_stats = @site_variable_stats.first(:variable_id=>@variable.id)
    %table{:id => "var-stats-table", :style=>'float:left;margin-left:5px;width:45%'}
      %tr{:class=>"row#{cycle('0','1')}"}
        %td{:colspan=>"2"}
          %b
            Collected Data
      %tr{:class=>"row#{cycle('1','0')}"}
        %td
          %b
            &nbsp;&nbsp; Count
        %td
          = var_stats.record_number
      %tr{:class=>"row#{cycle('0','1')}"}
        %td
          %b
            &nbsp;&nbsp; Starting
        %td
          = var_stats.starting_timestamp.nil? ? 'NA' : var_stats.starting_timestamp.strftime('%d/%m/%Y')
      %tr{:class=>"row#{cycle('1','0')}"}
        %td
          %b
            &nbsp;&nbsp; Ending
        %td
          = var_stats.ending_timestamp.nil? ? 'NA' : var_stats.ending_timestamp.strftime('%d/%m/%Y')
      %tr
        %td{:colspan=>"2"}
          %b
            %br
            Recent Data Values
      %tr
        %th
          Timestamp
        %th
          Value   
      -if !@data.nil?
        -@data.each do |dv|
          %tr
            %td
              = dv[0]
            %td
              = dv[1]
  

    :javascript
      TEST = 'TESTING showSample';
      //var gdata = #{@variable.last_ten_values_graph(@site).to_json};
      var gdata = #{@graph_data.to_json};
      gdata = gdata ? gdata : {};
      //gdata = {};

      //graphInit();
      var graphInit = function(varId,varName) {
          console.log('SITE-ID= ', '#{@site.id}');
          console.log('VAR-ID= ', '#{@variable.id}');
          console.log('GDATA= ', gdata);
          console.log('TEST= ', TEST);
          plotGraph();
          handleGraph(varName);
      };
      var plotGraph = function() {
          console.debug(gdata);
          console.log('GDATA= ', gdata);
          console.log('TEST=', TEST);
          var plot = $.plot($("#graph#{@variable.id.to_s}"), [gdata],{
              series: {
                  color : "blue",
                  lines: { show: true },
                  points: { show: true }
              },
              ticks: 10,
              grid:  { hoverable: true, clickable: true },
              xaxis: { mode: "time" },
              pan:   { interactive: true },
              zoom:  { interactive: true }
          });
      };

      //Function ShowToolTip and previousPoint allow the hover function to display
      //a message for each data point on the graph when the cursor hoversover

      //I would only mess with the css if you really need to otherwise this
      //shouldn't need any modification
      var showTooltip = function(x, y, contents) {
          $('<div id="tooltip" style="z-index:200;">' + contents + '</div>').css( {
              position: 'absolute',
              display: 'none',
              top: y + 5,
              left: x + 5,
              border: '1px solid #fdd',
              padding: '2px',
              'background-color': '#fee',
              opacity: 0.80
          }).appendTo("body").fadeIn(200);
      };

      //Most of this should remain the same
      //NOTE-- the time string for #x is in UTC format and currently is in GMT time
      var handleGraph = function(variable_name) {
          var previousPoint = null;
          $("#graph#{@variable.id.to_s}").bind("plothover", function (event, pos, item) {
              var mEpoch = pos.x; // convert to milliseconds (Epoch is usually expressed in seconds, but Javascript uses Milliseconds)
              dDate = new Date();
              dDate.setTime(mEpoch);
              $("#x").text(dDate.toLocaleString());
              $("#y").text(pos.y);

              if (item) {
                  if (previousPoint != item.datapoint) {
                      previousPoint = item.datapoint;
                      $("#tooltip").remove();
                      var x = item.datapoint[0].toFixed(2),
                      y = item.datapoint[1].toFixed(2);
                      var mEpoch = x; // convert to milliseconds (Epoch is usually expressed in seconds, but Javascript uses Milliseconds)
                      dDate = new Date();
                      dDate.setTime(mEpoch);
                      showTooltip(item.pageX, item.pageY,
                      //*****You will need to change the sensor name here to the appropriate one selected above
                          //***dDate.toLocaleString() + " = " + y + " " + "#{@variable.variable_name}|" );
                          dDate.toLocaleString()+" = "+y+" "+variable_name + "| #{@units.units_name}");
                  };
              } else {
                  $("#tooltip").remove();
                  previousPoint = null;            
              }
          });
      };
      


%br{:style=>'float:none; clear:both;'}
%br

