!!! 5
%html
  %head
    %meta(http-equiv="content-type" content="text/html;charset=UTF-8")/
    %title= "VOEIS Data Hub: #{controller.action_name}"

    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    -#= stylesheet_link_tag 'compiled/print.css', :media => 'print'
    = stylesheet_link_tag 'http://ajax.googleapis.com/ajax/libs/dojo/1.5/dijit/themes/claro/claro.css'
    
    -#/[if IE]
    -#  = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'

    
    = javascript_include_tag(:defaults, 'jquery-snippet.js', "dojo_old/dojo.js", "voeislayer.js", "jquery.flot.min.js", "date.format.js", "protovis.min.js")
    -#= javascript_include_tag('rails.js', 'jquery.1.7.1.min.js', 'jquery-snippet.js', "dojo_old/dojo.js", "voeislayer.js", "jquery.flot.min.js")
    = csrf_meta_tag

    = stylesheet_link_tag('jquery-ui-1.8.1.custom')
    
    -#= stylesheet_link_tag("/javascripts/dijit/themes/claro/claro.css")
    = stylesheet_link_tag("/javascripts/dojox/grid/resources/Grid.css") 	
    = stylesheet_link_tag("/javascripts/dojox/grid/resources/claroGrid.css")
    = stylesheet_link_tag("/javascripts/dojox/grid/enhanced/resources/Filter.css")
    = stylesheet_link_tag("/javascripts/dojox/grid/enhanced/resources/Pagination.css")
    =stylesheet_link_tag("/javascripts/dojox/grid/enhanced/resources/claro/Filter.css")
    = yield(:stylesheets)

    :javascript
      dojo.require("dojo.parser");
      dojo.require("dijit.layout.BorderContainer");
      dojo.require("dijit.layout.ContentPane");
      dojo.require("dijit.Toolbar");    
      dojo.require("dijit.form.DropDownButton");
      dojo.require("dijit.Menu");
      dojo.require("dijit.MenuItem");
      dojo.require("dijit.TooltipDialog");

      dojo.require("dijit.form.TextBox");
      dojo.require("dijit.form.CheckBox");
      dojo.require("dijit.form.Button");
    
      dojo.require("yogo.ui.MenuLink");
      dojo.require("yogo.ui.MenuLinkBlankTarget");
      //dojo.require("yogo.maps.google");    
    
      //yogo.maps.google.load();
    
      var hideLoader = function(){
          dojo.fadeOut({
              node:"preloader",
              onEnd: function(){
                  dojo.style("preloader", "display", "none");
              }
          }).play();
      }
      
      $(window).ready(function(){ 
          if(window.pre_dojo_parse) pre_dojo_parse();
          dojo.parser.parse();
          if(window.post_dojo_parse) post_dojo_parse();
          //hideLoader();
      });

      dojo.addOnLoad(function(){
         //dojo.when(yogo.maps.google.load(), function() {
         //  dojo.parser.parse();
         //});
         //dojo.parser.parse();
      });
      
    = yield(:javascripts)

    = include_visualization_api
    = render_visualizations

    %link{:rel => "shortcut icon", :href => "#{image_path("favicon.png")}"}/

    = yield :head

    :css
      body, html { width:100%; height:100%; margin:0; padding:0; overflow:hidden; }
      #border_container { width:100%; height:100% }
      #main_container
      
      .datahub-icon-25 { 
        background-image: url('/images/datahub_icon_25.png');
        background-repeat: no-repeat;
        width: 25px;
        height: 25px;
        text-align: center;
      }
      .project-icon-25 { 
        background-image: url('/images/project_icon_25.png');
        background-repeat: no-repeat;
        width: 25px;
        height: 25px;
        text-align: center;
      }
      .user-icon-25 { 
        background-image: url('/images/user_icon_25.png');
        background-repeat: no-repeat;
        width: 25px;
        height: 25px;
        text-align: center;
      }

    
  %body.typography.claro
    -##preloader
    -if !flash.empty?
      #flash
        %b{:class=> "error"}
          = flash[:error]
        %b{:class=> "warning"}
          = flash[:warning]
        %b{:class=> "alert"}
          = flash[:alert]
        %b{:class=> "notice"}
          = flash[:notice]  
    #border_container{:dojoType => "dijit.layout.BorderContainer", :gutters => 'false'}
      #top{:dojoType => "dijit.Toolbar", :region => "top"}
        #datahubButton{:dojoType => "dijit.form.DropDownButton", :iconClass => "datahub-icon-25"}
          %span{:style => "font-weight:bold"}
            DataHub
          %div{:dojoType => "dijit.Menu"}
            = link_to("Home", '/', :dojoType => "yogo.ui.MenuLink")
            = link_to("About", page_url(:about), :dojoType => "yogo.ui.MenuLink")
            = link_to("Help", "http://yogo.github.com/voeis-docs/index.html",:dojoType => "yogo.ui.MenuLinkBlankTarget") 
            = link_to("Video Tutorials", page_url(:video_tutorials), :dojoType => "yogo.ui.MenuLink")  
            = link_to("Development Activity", page_url(:activity), :dojoType => "yogo.ui.MenuLink")
            = link_to("Development Roadmap", page_url(:roadmap), :dojoType => "yogo.ui.MenuLink")
            = link_to("Developers", "/doc/yard/", :dojoType => "yogo.ui.MenuLinkBlankTarget") 
            -if !current_user.nil? && current_user.system_role.name=='Administrator'
              %div{:dojoType=>"dijit.MenuSeparator"}
              %div{:dojoType=>"dijit.PopupMenuItem"}
                %span Administration
                %div{:dojoType => "dijit.Menu"}
                  -#= link_to("MAIN", "/pages/admin", :dojoType => "yogo.ui.MenuLink")
                  = link_to("Users", "/users", :dojoType => "yogo.ui.MenuLink")
                  = link_to("Roles & Permissions", "/roles", :dojoType => "yogo.ui.MenuLink")
                  = link_to("Settings", "/settings", :dojoType => "yogo.ui.MenuLink")
            
        #projectsButton{:dojoType => "dijit.form.DropDownButton", :iconClass => "project-icon-25"}
          %span{:style => "font-weight:bold"}
            Projects
          %div{:dojoType => "dijit.Menu"}
            = link_to("Browse", projects_path, :dojoType => "yogo.ui.MenuLink")
            -if !current_user.nil?
              = link_to("New...", new_project_path, :dojoType => "yogo.ui.MenuLink")
              -if current_user.system_role.name=='Administrator' &&  !@cv_list.nil?
                %div{:dojoType=>"dijit.PopupMenuItem"}
                  %span Controlled Vocabulary
                  %div{:dojoType=>"dijit.Menu", :id=>"manageCVmenu"}
                    -#= link_to("Spatial Reference", spatial_references_path, :dojoType => "yogo.ui.MenuLink")
                    -#= link_to("Vertical Datum", vertical_datum_c_vs_path, :dojoType => "yogo.ui.MenuLink")
                    -#= link_to("Spatial Reference", spatial_references_path, :onclick=>"cv_pop('Global Spatial References','global_spatial_references',this.href);return false;", :dojoType => "yogo.ui.MenuLink")
                    -#= link_to("Vertical Datum", vertical_datum_c_vs_path, :onclick=>"cv_pop('Global Vertical Datums','global_vertical_datums',this.href);return false;", :dojoType => "yogo.ui.MenuLink")
                    - @cv_list.each do |cv|
                      = link_to('Global '+cv[:cv_title], cv[:cv_url], :onclick=>"cv_pop('Global #{cv[:cv_title]}','global_#{cv[:cv_title2]}',this.href);return false;", :dojoType => "yogo.ui.MenuLink")
              %div{:dojoType=>"dijit.MenuSeparator"}
              %div{:dojoType=>"dijit.PopupMenuItem"}
                %span My Projects
                %div{:dojoType=>"dijit.Menu", :id=>"projectSubMenu"}
                  = render_cell(:project_menu, :display, :current_user => current_user)
        
        -##campaignButton{:dojoType => "dijit.form.DropDownButton"}
        -#  %span{:style => "font-weight:bold"}
        -#    Campaigns
        -#  %div{:dojoType => "dijit.Menu"}
        -#    = link_to("Browse", campaigns_path, :dojoType => "yogo.ui.MenuLink")
        -#    -if !current_user.nil?
        -#      = link_to("New...", new_campaign_path, :dojoType => "yogo.ui.MenuLink")
        -#      %div{:dojoType=>"dijit.MenuSeparator"}
        -#      %div{:dojoType=>"dijit.PopupMenuItem"}
        -#        %span My Campaigns
        -#        %div{:dojoType=>"dijit.Menu", :id=>"campaignSubMenu"}
        -#          = render_cell(:campaign_menu, :display, :current_user => current_user)

        - if !@project.nil?
          #projectButton{:dojoType => "dijit.form.DropDownButton", :iconClass => "project-icon-25"}
            %span 
              = @project.name
            %div{:dojoType => "dijit.Menu"}
              - if @project.id.to_s == request.fullpath.gsub(/(\?.*$)/,'')[-(@project.id.to_s.length)..-1]
                - atroot = true
                = link_to("Overview", "javascript:", :dojoType => "yogo.ui.MenuLink", :onclick=>"dijit.byId('overview_dialog').show();")
              - else
                - atroot = false
                = link_to("Project Home", project_path(@project), :dojoType => "yogo.ui.MenuLink")
                
              -if !current_user.nil? && current_user.projects.include?(@project) && !current_user.has_role?('Observer',@project)
                - if atroot
                  -#= link_to("Add Site", new_project_site_path(@project), :dojoType => "yogo.ui.MenuLink")
                  = link_to("Add Site", "javascript:", :dojoType=>"yogo.ui.MenuLink", :onclick=>"dojo.publish('voeis/project/site/new');")
                  -#= link_to('Add Variable', 'javascript:', :dojoType=>"yogo.ui.MenuLink", :onclick=>"dojo.publish('voeis/project/variable', [0,'',0]);")
                - else
                  = link_to("Add Site", project_path(@project)+'?tab=newsite', :dojoType => "yogo.ui.MenuLink")
                  -#= link_to('Add Variable', project_path(@project)+'?tab=newvar', :dojoType=>"yogo.ui.MenuLink")
                
                = link_to("Add Sample Data", pre_process_samples_file_upload_project_data_values_path(@project), :dojoType=>"yogo.ui.MenuLink", :jsId=>"add_sample_menu")
                = link_to("Add Logger Data", pre_process_logger_file_upload_project_logger_imports_path(@project), :dojoType=>"yogo.ui.MenuLink", :jsId=>"add_logger_menu")

                - if !@cv_list.nil?
                  %div{:dojoType=>"dijit.PopupMenuItem"}
                    %span Controlled Vocabulary
                    %div{:dojoType=>"dijit.Menu", :id=>"projectCVmenu"}
                      -#= link_to("Spatial Reference", project_spatial_references_path(@project.id), :onclick=>"cv_pop('Spatial References','spatial_references',this.href);return false;", :dojoType => "yogo.ui.MenuLink")
                      -#= link_to("Vertical Datum", project_vertical_datum_c_vs_path(@project.id), :onclick=>"cv_pop('Vertical Datums','vertical_datums',this.href);return false;", :dojoType => "yogo.ui.MenuLink")
                      - @cv_list.each do |cv|
                        = link_to(cv[:cv_title], project_path(@project)+cv[:cv_url], :onclick=>"cv_pop('#{cv[:cv_title]}','#{cv[:cv_title2]}',this.href);return false;", :dojoType => "yogo.ui.MenuLink")

                = link_to("Settings...", edit_project_path(@project), :dojoType => "yogo.ui.MenuLink")

                -#- if !@sites.nil? && @sites.count > 0
                -#  -#= link_to("Add Variable", new_project_variable_path(@project), :dojoType => "yogo.ui.MenuLink")
                -#  -#= link_to("Add Unit", new_project_unit_path(@project), :dojoType => "yogo.ui.MenuLink")
                -#  -#= link_to("Add Sample", new_project_sample_path(@project), :dojoType => "yogo.ui.MenuLink")
                -#  -#= link_to("Upload Sample Data", @project.id.to_s+"/data_values/pre_process_sample_file_upload", :dojoType => "yogo.ui.MenuLink")
                -#  -#= link_to("Add Data Stream", new_project_data_stream_path(@project), :params => {:project_id => @project.id}, :dojoType => "yogo.ui.MenuLink")
                -#  = link_to("Add Sample Data", pre_process_samples_file_upload_project_data_values_path(@project), :dojoType=>"yogo.ui.MenuLink", :jsId=>"add_sample_menu")
                -#  = link_to("Add Logger Data", pre_process_logger_file_upload_project_logger_imports_path(@project), :dojoType=>"yogo.ui.MenuLink", :jsId=>"add_logger_menu")
                -#- if @project.managed_repository { Voeis::Sample.all.count } > 0
                -#  -#= link_to("Add Field Data", new_field_measurement_project_sensor_values_path(@project), :params => {:project_id => @project.id}, :dojoType => "yogo.ui.MenuLink")
                -#- if @project.managed_repository { Voeis::DataStream.all.count } > 0
                -#  -#= link_to("Add Data", add_project_data_streams_path(@project), :params => {:project_id => @project.id}, :dojoType => "yogo.ui.MenuLink")


          -#- if !@project.sites.nil? && @project.sites.count > 0
          -#  #dataButton{:dojoType => "dijit.form.DropDownButton"}
          -#    %span{:style => "font-weight:bold"}
          -#      Project Data
          -#    %div{:dojoType => "dijit.Menu"}
          -#      -#= link_to("Browse", campaigns_path, :dojoType => "yogo.ui.MenuLink")
          -#      -#= link_to("Browse Data Streams", query_project_data_streams_path(@project), :dojoType => "yogo.ui.MenuLink")
          -#
          -#      -#= link_to("Browse/Simple Search Data", query_project_samples_path(@project), :dojoType => "yogo.ui.MenuLink") 
          -#      = link_to("Simple QA/QC", query_project_samples_path(@project), :dojoType => "yogo.ui.MenuLink") 
          -#      -#= link_to("Search Data",new_project_search_path(@project), :dojoType => "yogo.ui.MenuLink") 
          -#      = link_to("Search Data", "javascript:", :dojoType=>"yogo.ui.MenuLink", :onclick=>"dojo.publish('voeis/project/search'); return false;")
          -#
          -#      = link_to("Job Queue", project_jobs_path(@project), :dojoType => "yogo.ui.MenuLink")
          -#      -if !current_user.nil?
          -#        -#= link_to("Search", campaigns_path, :dojoType => "yogo.ui.MenuLink")
          -#        %div{:dojoType=>"dijit.MenuSeparator"}
          -#        %div{:dojoType=>"dijit.PopupMenuItem"}
          -#          %span My Saved Searches
          -#          %div{:dojoType=>"dijit.Menu", :id=>"dataSubMenu"}
          -#            = render_cell(:data_menu, :display, :current_user => current_user)

          - if !request.url.include?("projects/new")
            - if !@project.sites.nil? && @project.sites.count > 0
              #dataButton{:dojoType => "dijit.form.DropDownButton"}
                %span{:style => "font-weight:bold"}
                  Project Data
                %div{:dojoType => "dijit.Menu"}
                  -#= link_to("Browse", campaigns_path, :dojoType => "yogo.ui.MenuLink")
                  -#= link_to("Browse Data Streams", query_project_data_streams_path(@project), :dojoType => "yogo.ui.MenuLink")
                  -#= link_to("Simple QA/QC", query_project_samples_path(@project), :dojoType => "yogo.ui.MenuLink") 
                  -#= link_to("Search Data",new_project_search_path(@project), :dojoType => "yogo.ui.MenuLink") 
                  
                  -#- if !@edit_auth.nil? && @edit_auth
                  -#  = link_to("Data Query QA/QC", "javascript:", :dojoType=>"yogo.ui.MenuLink", :onclick=>"dojo.publish('voeis/project/dataquery',[0]); return false;")
                  -#- else
                  -#  = link_to("Data Query", "javascript:", :dojoType=>"yogo.ui.MenuLink", :onclick=>"dojo.publish('voeis/project/dataquery',[0]); return false;")
                  = link_to("Data Search", "javascript:", :dojoType=>"yogo.ui.MenuLink", :onclick=>"dojo.publish('voeis/project/search'); return false;")
                  %div{:dojoType=>"dijit.PopupMenuItem"}
                    %span Data Sets
                    %div{:dojoType=>"dijit.Menu", :id=>"datasetSubMenu"}
                      - if @project.managed_repository{Voeis::DataSet.all}.count > 0 
                        - @project.managed_repository{Voeis::DataSet.all}.each do |dataset|
                          = link_to(dataset.name, project_data_set_path(@project, dataset), :dojoType => "yogo.ui.MenuLink")
                      - else
                        None

                  = link_to("Job Queue", project_jobs_path(@project), :dojoType => "yogo.ui.MenuLink")
                  -if !current_user.nil?
                    -#= link_to("Search", campaigns_path, :dojoType => "yogo.ui.MenuLink")
                    %div{:dojoType=>"dijit.MenuSeparator"}
                    %div{:dojoType=>"dijit.PopupMenuItem"}
                      %span My Saved Searches
                      %div{:dojoType=>"dijit.Menu", :id=>"dataSubMenu"}
                        = render_cell(:data_menu, :display, :current_user => current_user)
              
        -##dataButton{:dojoType => "dijit.form.DropDownButton"}
        -#  %span{:style => "font-weight:bold"}
        -#    Data
        -#  %div{:dojoType => "dijit.Menu"}
        -#    = link_to("Browse", campaigns_path, :dojoType => "yogo.ui.MenuLink")
        -#    -if !current_user.nil?
        -#      = link_to("Search", campaigns_path, :dojoType => "yogo.ui.MenuLink")
        -#      %div{:dojoType=>"dijit.MenuSeparator"}
        -#      %div{:dojoType=>"dijit.PopupMenuItem"}
        -#        %span My Saved Searches
        -#        %div{:dojoType=>"dijit.Menu", :id=>"dataSubMenu"}
        -#          = render_cell(:data_menu, :display, :current_user => current_user)

        #loginButton{:dojoType => "dijit.form.DropDownButton", :style => "float:right", :iconClass => "user-icon-25"}
          - if logged_in?
            %span
              = current_user.login
            %ul{:dojoType => "dijit.Menu"}
              = link_to("Account Settings", edit_user_path(current_user.id), :dojoType => "yogo.ui.MenuLink")
              = link_to("Logout", logout_path, :dojoType => "yogo.ui.MenuLink")
          - else
            %span Login
            %div{:dojoType => "dijit.TooltipDialog"}
              = form_for( :user_session, :url => user_session_path, :builder => YogoFormBuilder ) do |f|
                = f.text_field(:login, :label => "Username", :dojoType => "dijit.form.TextBox")
                = f.password_field(:password, :label => 'Password', :dojoType => "dijit.form.TextBox")
                = f.check_box(:remember_me, :dojoType => "dijit.form.CheckBox")
                = f.submit("Login", :label => "Login", :dojoType => "dijit.form.Button")
                %br
                = link_to("Forgot My Password", reset_password_users_path)
        = yield :toolbar
      
      
      #main_container{:dojoType=>"dijit.layout.ContentPane", :region=>"center", :gutters=>"false", :style=>"padding:0; "}
        = content_for?(:content) ? yield(:content) : yield


      #bottom.claro{:dojoType => "dijit.layout.ContentPane", :region => "bottom", :gutters => "false", :style => "padding:0"}
        #footer{:style=>"padding-top:6px; border-top: 1px #6F97CB solid;"}
          #yogo-brand{:style=>"display:inline;"}
            = link_to(image_tag("partners/uky.nobox.png", :alt => "University of Kentucky logo", :title => "University of Kentucky"), 'http://www.uky.edu') 
            = link_to(image_tag("partners/umt.black.gif", :alt => "The University of Montana logo", :title => "The University of Montana"), 'http://www.umt.edu') 
            = link_to(image_tag("partners/FLBS.png", :alt => "Flathead Lake Biological Station logo", :title => "Flathead Lake Biological Station"), 'http://www.umt.edu/FLBS/') 
            = link_to(image_tag("partners/hbfs.png", :alt => "Hancock Biological Field Station logo", :title => "Hancock Biological Field Station"), 'http://www.murraystate.edu/qacd/cos/hbs/hbs.htm') 
            = link_to(image_tag("partners/eku.png", :alt => "Eastern Kentucky University logo", :title => "Eastern Kentucky University"), 'http://www.eku.edu') 
            = link_to(image_tag("partners/msu.png", :alt => "Montana State University logo", :title => "Montana State University"), 'http://www.montana.edu') 
            = link_to(image_tag("partners/ul.png", :alt => "University of Louisville logo", :title => "University of Louisville"), 'http://www.louisville.edu') 
            = link_to(image_tag("partners/murray.png", :alt => "Murray State University logo", :title => "Murray State University"), 'http://www.murraystate.edu') 
            = link_to(image_tag("partners/yerc.png", :alt => "Yellowstone Ecological Research Center logo", :title => "Yellowstone Ecological Research Center"), 'http://www.yellowstoneresearch.org')
            = link_to(image_tag("partners/yogo.png", :alt => "The Yogo Data Management Toolkit logo", :title => "The Yogo Data Management Toolkit"), 'http://yogo.msu.montana.edu/')
          #supported-browsers{:style=>"display:inline;float:right;"}
            Supported browsers:
            %br
            = link_to(image_tag("browser-icons/browsers-icon-firefox-30.jpg", :alt => "FireFox browser logo", :align => "left", :title=>"FireFox browser"), 'http://www.mozilla.com', {:target=>'_blank'})
            = link_to(image_tag("browser-icons/browsers-icon-chrome-30.jpg", :alt => "Chrome browser logo", :align => "left", :title=>"Chrome browser"), 'http://www.google.com/chrome/', {:target=>'_blank'})
            = link_to(image_tag("browser-icons/browsers-icon-safari-30.jpg", :alt => "Safari browser logo", :align => "left", :title=>"Safari browser"), 'http://www.apple.com/safari/download/', {:target=>'_blank'})
            = link_to(image_tag("browser-icons/browsers-icon-opera-30.jpg", :alt => "Opera browser logo", :align => "left", :title=>"Opera browser"), 'http://www.opera.com/download/', {:target=>'_blank'})
            %br
            